[2014-12-14 02:16] zlsa opened #3 "Real life airport layouts"
There's only a demo airport layout included; it would be nice to include multiple real-life airports. The format is a bit arcane, though.

[2014-12-14 02:23] zlsa opened #4 "Airport importer"
An importer that reads OSM data to create an airport layout.

[2014-12-14 05:05] lumilux opened #5 "Map scale needed"
At the end of the tutorial, I am told that "the closest two aircraft can get is 3 miles"... but there's no scale on the map, so I can't get a sense of any distance.

[2014-12-14 09:19] pcrumm commented on #3
Curious about your thoughts on this. I started playing around with SFO:
https://github.com/pcrumm/atc/blob/add-sfo/assets/airports/ksfo.json

I added the ILS/LOC approach 28L and 28R. There are no designated radio-assisted approaches for the other runways, so we'll need to make up fixes if we want a more symmetrical layout. You've spent more time thinking about the game than I have--better to leav

[2014-12-14 10:21] BarryCarlyon opened #7 "Safari Keyboard input"
Under Mac Yosemite Safari (Version 8.0 (10600.1.25.1))

I cannot seem to enter keyboard commands.

Following the tutorial says to input "taxi"

But I type t which appears but accepts no other input.
(Of course t conflicts with takeoff so it doesn't understand the command)

Same for wait, w appears but no other input.
Typing Climb results in nothing/no input

[2014-12-14 16:36] zlsa commented on #7
Only the first letter you type works? After you type a letter, does the input box unfocus itself?

[2014-12-14 16:38] kiliankoe commented on #7
Focus still seems to be there, but no further input is being accepted after the first letter. Enter works, but that just submits that single letter as @BarryCarlyon already said.

I'm on Safari Version 8.0.2 (10600.2.5) if that helps. Chrome works just fine.

[2014-12-14 16:40] zlsa commented on #7
Are there any errors logged in the console?

[2014-12-14 17:02] kiliankoe commented on #7
I was unfortunately stuck on the loading screen for a bit there. No clue why :(

But now it's working again and there's no errors logged whatsoever. Nothing shows up in the console besides probably normal output when trying to type and sending one-liners.

[code]

[2014-12-14 17:13] popey456963 commented on #5
Leading up from this, maybe it might be helpful to make the scale changeable?  Being able to see those planes that are outside the screen would be incredibly helpful.

[2014-12-14 17:24] zlsa commented on #5
I show a ring around each of two aircraft when they're closer than about 4km to each other.

[2014-12-14 17:28] popey456963 opened #9 "No more aeroplanes."
Am I missing something, or after a certain period (less than 15 minutes), do no more planes come?

http://i.imgur.com/MUW6K3c.png (just, ignore the score.)

Running chrome, windows 7.

[2014-12-14 17:29] zlsa opened #10 "Viewport zoom"
Allow zooming to see more of the airport on smaller screens.

[2014-12-14 17:29] zlsa commented on #5
@popey456963, issue #10.

[2014-12-14 17:35] zlsa commented on #9
Is there anything printed out in the console after it loads (and about 10 aircraft are created)? The updated version is 2.1.1, upper-right corner while loading.

[2014-12-14 17:36] popey456963 commented on #9
I get this message:

http://pastebin.com/WX7CdHr2

Which seems that creating aeroplanes is definitely working.  I will land/fly all planes and see if more are generated.

[2014-12-14 17:56] BonsaiDen commented on #7
This is caused by the CSS.

The `user-select: none` on `*` causes both some earlier version of Chrome as well as the recent Safaris to now allow any input into the text field.

You'll need to add an additional style to fix this by specifically allowing input on `input` elements.

[code]

[2014-12-14 17:57] jvt commented on #9
Just like to add in my log output here, maybe it'll help: http://pastebin.com/0Yy45gcJ

It seems like the plane generation is working until it reaches a certain number at which point it will stop generating any more.

[2014-12-14 17:59] #7 closed, assigned to zlsa

[2014-12-14 17:59] popey456963 commented on #9
It seems as if it isn't a problem generating the aeroplanes, it's actually a problem calling the function which generates the aeroplanes.
Where is the "aircraft_new()" function called?

[2014-12-14 18:50] BarryCarlyon commented on #7
Looks good from here now :-)

[2014-12-14 19:06] theorician opened #11 "More realistic phraseology."
Wow, this is nice! Great work so far.

As a suggestion though, can you work on the phraseology a bit? For example, on the one hand you do things that are lifelike (clearing for an altitude after departure before a take-off clearance) and then on the other hand you have an aircraft read back 'climb 5000 after takeoff, roger', which is incorrect and dangerous phraseology. Also, 'roger' is only a ter

[2014-12-14 19:30] zlsa commented on #11
I looked up phraseology and filled in the bits I couldn't easily find. Is there a definitive FAA guide on phraseology?

Also, in many places, I had the pilot readback their commands to help out new users.

[2014-12-14 19:33] theorician commented on #11
Yep, ICAO has standardised the phraseology!

I can help you if you like with a bunch of these, but there's a seemingly decent summary here:

http://www.skybrary.aero/bookshelf/books/115.pdf

For example, it lists this, which was my point in my OP:

[code]

The document is probably a bit dense to read, but as I said, I can help you out a bit with it if you like :)

[2014-12-14 19:42] zlsa commented on #11
Thanks for the link.

I've been flying in flight sims for a long time now and I always had trouble with phraseology (as I suspect many student pilots do as well).

[2014-12-14 19:43] theorician commented on #11
Oh, most definitely. It does become second nature after even a week or two of flying regularly though, like all the rest of it :)

[2014-12-14 19:52] ajillingworth opened #12 "Suggestion: Unexpected events - aircraft faults / pilot error"
This is a lot of fun! (I used to play bsdgames atc all the time as well.)

A suggestion for an enhancement: A set of random events that make it a bit less predictable:
- Pilot error in landing causing a wave-off.
- Engine faults requiring emergency landing
- Planes coming in with low fuel because there was a back up at another airport.
- more?

[2014-12-14 20:14] zlsa commented on #12
These are all on my radar, so to speak.

[2014-12-14 22:28] ajillingworth commented on #4
And have it so that you just specify the airport code (or type the name of the airport) into the GUI and it goes and grabs the data for you. :-)

Question - where do you get the fixes from? Is that in OSM data as well?

I'm going to start working on this.

[2014-12-14 22:36] zlsa commented on #4
I'm pretty sure that navigational fixes are just lat/lon pairs in a computer, so OSM wouldn't have them (as they only map things that are on the ground).

[2014-12-14 22:52] ajillingworth commented on #4
OK. So autogenerate and then potentially allow the user to modify them later?

[2014-12-14 22:54] zlsa commented on #4
I was planning on a general-purpose editor that could import OSM data to add to the current airport so you can always edit the layout after import (because OSM isn't perfect).

[2014-12-14 23:12] psycho202 commented on #9
Popey: the aircraft_new function is being called in airport.js.
At lines 256 to 260 for departures and at lines 296 to 303 for arrivals.

Both of these are being called in addAircraft, at line 227 in airport.js.

[2014-12-14 23:31] joallard opened #13 "Performance issues"
I've been playing on my Macbook Air for a few hours, and the fan has been going like crazy since I've opened the game. The battery is taking a big dip either. I'm running Firefox Aurora 36. Is it just me or could this game benefit from a few well-placed perf optimizations?

[2014-12-14 23:32] zlsa commented on #13
I've never even attempted to optimize it. I'll work on it.

[2014-12-14 23:33] joallard commented on #9
+1 on Firefox Aurora 36

[2014-12-14 23:34] lastmikoi commented on #4
You could make an IVAO-Scenery file importer, they have loads of sceneries ready to use for their online ATC software, including STARs, fixes, runways and even taxiway information - I can only hope this format is sane enough to parse.

Nice work with simulator, anyway.

[2014-12-14 23:51] joallard commented on #13
Good job. I've tried profiling a little, but wasn't nearly proficient enough with the architecture to see an obivous fix. [`canvas_update_post()`](https://github.com/zlsa/atc/blob/gh-pages/assets/scripts/canvas.js#L434) came up.

[2014-12-14 23:58] zlsa commented on #13
That's where the entire radar view is drawn. There's no view culling yet. The current bottleneck is drawing the text for each airplane; if I have to, I'll move the text drawing to the DOM, but that's a pretty major change.

[2014-12-15 00:21] psycho202 opened #16 "Runway name unreadable with multiple birds on the ground"
Issue: airplane nametags displaying above runway name. Blocking out one or more runway names.

Possible fix: minimap overlay between compass and buttons.
Possible fix: runway names being displayed above airplane name in contrasting colour.

[2014-12-15 01:30] pcrumm opened #18 "Pre-Departure Heading Assignments are not Remembered"
When a heading is assigned prior to departure (for instance, in the clearance `baw963 c 10 turn 80 taxi 16L`, the assignment is read back, but the aircraft flies runway heading after departure.

Instead, the aircraft should make the designated turn at the end of the runway.

[2014-12-15 01:40] zlsa commented on #13
I've vastly reduced redrawing in version 2.1.4; could you test again?

[2014-12-15 02:03] zlsa commented on #11
In that specific example, would the proper reply be "speedbird 1234, climb six zero after departure"?

[2014-12-15 02:11] zlsa commented on #16
Is it improved now?

[2014-12-15 02:11] jvt commented on #13
@joallard What year is your MBA? I'm also playing on an Air and didn't notice any performance-related issues in the prior versions.

[2014-12-15 02:13] #18 closed, assigned to zlsa

[2014-12-15 02:38] zlsa opened #19 "Allow takeoffs to be aborted."

[2014-12-15 02:58] joallard commented on #13
2.1.4: CPU seems to have more breathing space. I think the regular speed has gotten slower though. Might be unrelated.

@jvt Late 2013.

[2014-12-15 03:08] zlsa commented on #13
@joallard, aircraft speed shouldn't change; I just redraw the canvas once every 20 frames or so. They might jump visibly when on higher speed settings, though.

[2014-12-15 03:21] joallard commented on #9
I'm debugging around a little. As I understand it: game initally adds some departure, and that function will set up timeouts to add some more departure, based on the `timeout` parameter it receives. That parameter would be based on the big timeout array the game receives as options. But in the array, the timeout parameter the function will receive is set to `false`, hence no timeout. ("timeout" co

[2014-12-15 03:24] joallard commented on #13
It may very well just be my perception, caveat emptor, but it feels to me a little more jittery and slowish.

[2014-12-15 03:31] zlsa commented on #9
Can reproduce, fix in progress.

I've never played it for more than about ten minutes so I never encountered this bug...

[2014-12-15 03:34] joallard commented on #9
I just noticed it wasn't a big setting array, but rather just the timeouts added by the game to the queue, as async tasks. The `false` param on the call at airport.js:233 (Airport#addAircraft()) looks suspicious.

[2014-12-15 03:57] git-project-one opened #20 "Take off collision detection."
Hello,

Some better in game explanation of collision detection would be great. For instance if I set two plans to take off from two parallel runways (in opposite directions) you get -4. However runways should be able to be used simultaneously

Example 18L and 36L in the debug airport.

[2014-12-15 04:03] #9 closed, assigned to nobody

[2014-12-15 04:09] zlsa commented on #20
The problem here is that you lose score for tailwind takeoffs, which would happen in that airport with 18L/R takeoffs. I'll add a feature so that it prints out what you did wrong when you lose score. In real life, they almost always have only one runway for takeoffs.

[2014-12-15 04:09] #20 closed, assigned to nobody

[2014-12-15 04:10] git-project-one commented on #20
Cool, thanks.

[2014-12-15 04:14] zlsa commented on #9
For testing, you can run the command `timewarp 100` without a callsign (warning: high numbers will slow down your computer); to return to normal speed, type `timewarp 1`. This bug should be gone now.

[2014-12-15 04:27] joallard commented on #9
Fix confirmed. However, the spawn rate is now too high. My list keeps growing and growing.

[2014-12-15 04:29] jvt commented on #9
The spawn rate is definitely too high. It's very hard to deal with this ever-growing list of arrivals.
![screen shot 2014-12-14 at 11 28 25 pm](https://cloud.githubusercontent.com/assets/2718101/5430877/f91554e0-83e8-11e4-8e6a-1ed516ade3cf.png)

[2014-12-15 04:36] joallard commented on #9
Maybe you could put a debug option to turn off spawn, and get a log of how fast we clear the planes, so we can estimate a natural frequency at which to make them respawn?

[2014-12-15 04:38] joallard commented on #9
...or you could always monkeycode and play to find out that "ideal" rate instead of having to release yet another feature ;)

[2014-12-15 04:47] zlsa commented on #9
The rate is set in each airport individually (so you can have a small airport with one arrival per hour, not that anyone would ever want that). I've raised the time for all the airports a bit but I'm pretty sure there's now an exponential amount of arrivals.

[2014-12-15 05:41] zlsa commented on #5
I'll also add a scale in the upper-right corner.

[2014-12-15 05:51] zlsa opened #22 "Waypoint routes"
Multiple fixes in order.

[2014-12-15 07:00] pcrumm commented on #11
Generally, "after departure" would be omitted as it's clear from the context, but that particular reply wouldn't be incorrect (unlike anything with the phrase "take-off" in it).

[2014-12-15 08:25] ahensley opened #24 "Add ability to tab thru plates, easing keyboard-only play"
Excellent, excellent work! I've long wanted a better alternative to ATC games out there.

One thing they all seem to lack is keyboard-only friendly controls. Yes, you can type out the callsign, and the highlighting is very nice, but I feel a nice option would be to allow users to tab through the aircraft on the approach/departure plates. Possibly even highlight the nameplate on the radar to match,

[2014-12-15 09:56] psycho202 commented on #16
It has indeed improved. It's not the most ideal looking, but it'll do for now :+1:

[2014-12-15 09:56] #16 closed, assigned to nobody

[2014-12-15 10:04] garcg commented on #24
I've just created a pull request for this: https://github.com/zlsa/atc/pull/25

[2014-12-15 11:03] theorician commented on #11
Yep that's correct - except your altitude ;) I'd definitely leave 'after departure' in. Understanding things from context is hard for people that lack context :)

Your altitude is either in feet ("six thousand feet" or "five five zero zero feet") or as a flight level ("flight level six zero").

The transition from feet to FL is usually around the 5000-6000 feet mark, so your example managed to be

[2014-12-15 11:45] garcg opened #26 "Font"
I've noticed that the font family defined in the css is [monoOne](https://github.com/madmalik/monoOne), but is neither included in the sources or imported from anywhere. So it fallbacks to the default monospace unless that font is installed in the user's computer, which is unlikely.

This is perhaps one of the reasons for the complains about the text being difficult to read  (in the HN thread, for

[2014-12-15 14:05] voska opened #27 "Tutorial body text errors when no planes"
The body text of the tutorial won't change when you click next, when there are no planes on the screen
`Uncaught TypeError: Cannot read property 'getCallsign' of undefined`

[2014-12-15 15:21] zlsa commented on #26
I'll import with `@font-face`.

[2014-12-15 15:24] zlsa commented on #16
I'll link in the proper font as well. It seems that the default monospace font for most people does not scale down well.

[2014-12-15 15:30] zlsa opened #28 "Move aircraft tags"

[2014-12-15 15:41] zlsa commented on #24
Fixed with #25. Thanks @garcg.

[2014-12-15 15:41] #24 closed, assigned to nobody

[2014-12-15 15:57] #5 closed, assigned to zlsa

[2014-12-15 16:17] #22 closed, assigned to nobody

[2014-12-15 16:22] #26 closed, assigned to nobody

[2014-12-15 17:47] zlsa opened #29 "Departing aircraft should have a preferred departure heading"
Departing aircraft have a direction they want to depart in; if you're more than 30 degrees off (for example) when they exit the screen, you lose score.

[2014-12-15 18:34] psycho202 commented on #3
Currently working on JFK Intl airport.
Adding the fixes atm.

https://github.com/psycho202/atc/blob/kjfk/assets/airports/kjfk.json

[2014-12-15 19:09] popey456963 commented on #9
Great to see this issue was resolved.

[2014-12-15 19:43] asherdavidson opened #30 "Points go down almost immediately after starting a new game"
My points almost always drop to -20 before I've even had a chance to do anything.

Could this be caused by planes that spawn on the edge of the map and then fly off before they can be seen?

[2014-12-15 19:45] asherdavidson opened #31 "Planes spawn right above the airport"
I think that for realism's sake, they should spawn off the screen and fly towards the airport, not spawn randomly on the page. Seeing a plane pop into existence breaks the immersion.

[2014-12-15 19:46] zlsa commented on #30
If aircraft are flying off the edge of the map, they'll print out "BAW123 leaving radar coverage" or something similar in the lower-left corner. I'm working on logging more score messages; right now it's a little sparse and it's hard to tell why you lost score. (If you want to, you can open a console and type in `prop.game.score` to see what happened.)

[2014-12-15 19:50] asherdavidson commented on #30
Yup, I've got 2 failed arrivals. Perhaps you can set the entry angle to be within x degrees of its angle to the airport. That way this can't happen.

[2014-12-15 19:54] zlsa commented on #30
I actually have a really arcane arrival format that's very flexible, but if nobody understands it then it may be a good idea to rewrite it.

The current format conceptually works like this:

Draw a circle around the airport, slightly smaller than the smallest edge of the display. This is so the circle is entirely visible.

Take the `direction` angle; draw a dot on the circle at that angle.

Take t

[2014-12-15 19:58] psycho202 commented on #30
A large part for understanding these things is documentation :)
If possible, it would be nice to have a little document explaining the structure of all different json files, like airport, airlines, aircraft, ...

[2014-12-15 20:00] zlsa commented on #30
I'm working on it...

Remember, this was just a side project that exploded yesterday; nothing has been documented and it's been so long since I wrote it that I don't remember much either...

[2014-12-15 20:00] asherdavidson commented on #30
It might just be easier to have them start at a random distance off the display (so we can't see them spawn), and then you could say the angle is a random number between +-20 of the direct angle to the airport.

[2014-12-15 20:01] psycho202 commented on #30
I completely understand zlsa =)

[2014-12-15 22:55] zlsa commented on #10
The `+` and `-` keys zoom; `0` resets.

[2014-12-15 22:55] #10 closed, assigned to zlsa

[2014-12-15 23:08] niklasfi commented on #22
How would you feel about a complete revamp of navigation requests? I have the following semantics in mind:
- `plane f abofa a 2 f kaito s 100 f goody l 36r` would mean: fly to _abofa_, uppon arrival at _abofa_ change altitude to _2000ft_ and fix _kaito_. Uppon arrival at _kaito_  decelerate to _100_ and fix _goody_. Uppon arrival at _goody_ initiate landing on runway _36R_.
- `plane a 8 fix divec

[2014-12-15 23:33] voska opened #34 "Can't type the number zero"

[2014-12-16 00:27] zlsa commented on #34
That's already been fixed. (It was related to the zoom keybindings; I hadn't tested everything yet.)

[2014-12-16 00:27] #34 closed, assigned to nobody

[2014-12-16 00:30] zlsa commented on #22
Is that syntax used in real life? If it is, I'd gladly accept a patch.

[2014-12-16 08:03] niklasfi commented on #22
I can't really comment on that since I have never sat in front of an atc terminal but I feel this user interface is most intuitive.

Will get to work later today.

[2014-12-16 15:03] smplman opened #39 "Text to speech for readback"
I have found a nice HTML5 JS text to speech in chrome. I'm interested in jumping in on this project and this is where I may start.

http://updates.html5rocks.com/2014/01/Web-apps-that-talk---Introduction-to-the-Speech-Synthesis-API

[2014-12-16 18:46] zlsa commented on #31
This should be fixed now.

It was caused because of this:

When the simulator/game starts, you don't want to have empty airspace above the airport, so I spawn a few planes with random offsets from 0.2-0.5 so some of them are visible; however, for some reason I set up the "recursive" timeout with the current offset.

[2014-12-16 18:51] #31 closed, assigned to nobody

[2014-12-16 19:53] smplman commented on #39
@zlsa what icon pack are you using for the controls? I have been looking into implementing ionicons, but I didn't want to change them over if you were already using an icon pack.

https://github.com/driftyco/ionicons

[2014-12-16 21:01] psycho202 opened #41 "Game load stuck on awe.json"
Loading http://zlsa.github.io/atc/
Stuck on loading awe.json

Console:
"[ INFO  ]" "Version v2.1.7" modules.js:124
"[ INFO  ]" "Finished loading 13 modules in 0.079s" modules.js:124
"[ WARN  ]" "Failed to get assets/airlines/awe.json: 0"

[2014-12-16 21:27] zlsa commented on #41
It's caused by an adblocker... apparently AWE is in a keyword list somewhere. I'll remove AWE for now but I'll need to find a way around this.

[2014-12-16 21:28] zlsa commented on #39
The icons were all handmade in Inkscape. If you want any additional icon, I can make it.

[2014-12-16 21:28] psycho202 commented on #41
Confirmed. Turning off Adblock Plus removes the issue.

[2014-12-16 21:29] zlsa commented on #41
It's also been commented out as no airport uses the US Airways airline yet.

[2014-12-16 21:33] zlsa commented on #41
EasyList blocks `awe.js` (and presumably `awe.json` as well); I'll contact them and see if I can resolve it.

[2014-12-16 21:37] asherdavidson opened #42 "Zoom doesn't work right"
Zooming out with '-' works fine, but when hit '+' it resets the zoom to the default instead of zooming in one level.

[2014-12-16 21:39] Diastro commented on #42
Its because your "=" is the same key as "+". Try shift and "=". It'll work.

[2014-12-16 21:42] asherdavidson commented on #42
Yup, that works. It's not exactly intuitive, though. Thanks.

[2014-12-16 22:04] zlsa commented on #42
I plan to add mousewheel zooming as well.

[2014-12-16 22:05] asherdavidson commented on #42
That would be great. Could you add mouse panning as well?

[2014-12-16 22:16] zlsa commented on #42
Hm, I could, but then that brings in a whole host of issues (example: aircraft spawn 100km away; if you pan beyond that you'll see aircraft popping in. Is that good or bad?)

[2014-12-16 22:16] zlsa opened #45 "Mousewheel zooming"

[2014-12-16 22:19] asherdavidson commented on #42
I only want it because there some fix points that are outside my screen and I want to be able to see them without zooming out (because then everything is too small). If you make the visible map a fixed size and the spawn area right outside that then you won't ever see aircraft spawn.

[2014-12-17 02:00] theDemongod opened #46 "Airport scaling and definition needs fixing (KJFK and others)"
It seems that approaching aircraft only spawn from the south. The distance varies but the heading does not. There is also a very low volume of them - only about 2 per every 3 departing flights.

[2014-12-17 02:03] z-adams commented on #29
where does it say this heading?

[2014-12-17 02:11] zlsa commented on #29
It doesn't, this should be clarified; it's an enhancement.

[2014-12-17 12:23] dominiks commented on #29
Would it make more sense to give them a specific heading to leave e.g. 180° and allow some leeway or just specify that they must be south or southeast from the airport when they leave the radar? I'd work in an implementation of such a system.

Also are there altitude requirements when leaving? I remember an ATC game I played on my Palm years ago where each leaving direction had a fixed height atta

[2014-12-17 12:50] dominiks opened #48 "Restricting ILS signals"
It seems very easy to just assign a runway to an aircraft as soon as it enters radar range. I did a quick lookup for range data of ILS systems and it seems they are restricting to a 25° angle left and right within 25nm of the runway.

As far as I understood the source code the current check for an ILS signal is just a 30° check?

[2014-12-17 16:15] zlsa commented on #48
Yeah, the current ILS check is just a 30° check. I originally had more restrictive tests but then it's really hard to get aircraft to lock on (as I imagine it is in real life), so I removed them. What do you think about adding more restrictive tests?

[2014-12-17 16:15] zlsa commented on #29
Yeah, that would be fine. It's just to avoid people like me from having every departure fly north for the simplicity.

[2014-12-17 16:19] dominiks commented on #48
I think it would make the biggest impact to just add a range restriction, so aircrafts would have to be within 30 km of the runway to get a ILS lock. How long are the lines that are drawn in front of the runways? Some visual aid would be necessary so players know where they have to guide the aircrafts to, maybe the existing lines can be used as a range hint.

[2014-12-17 16:25] zlsa commented on #48
The lines extend from the runways 20km.

On Wed, Dec 17, 2014 at 8:19 AM, Dominik Schacht notifications@github.com
wrote:

[2014-12-17 16:36] dominiks commented on #48
You can try to extend them to 40km and use that as the border at which ILS locks are possible. Or use two lines to show the 30° area in which ILS locks are allowed, but that might clutter the view too much.

[2014-12-17 16:44] #48 closed, assigned to nobody

[2014-12-17 18:02] dominiks opened #50 "Speed is set to -1 even when no ILS is locked"
When ordering a plane to land and it does not get an ILS lock it will still decelerate. I think the plane should maintain speed until it gets an ILS lock and then slow down.

edit:
I think the heading also gets reset when the aircraft was previously fixed to a navpoint?

[2014-12-17 21:20] psycho202 opened #51 "Adding approach directions to airport settings, not aircraft"
[Feature] Wouldn't it be more logical to add the possible approach directions (on aircraft spawn) as setting to the airport itself, instead of adding it as a setting to the arrivals themselves?

A list of a couple, either randomised or looked up from the official approach directions, out of which a newly spawning aircraft could be assigned one, with a balanced amount from each direction (possibly

[2014-12-17 21:33] zlsa commented on #51
The arrival settings are part of the airport settings; currently, each arrival direction has its own airline settings and frequency. (See [Airport format description](https://github.com/zlsa/atc/wiki/Airport-format-description)). I put airline settings into each direction so that you can have, say, British Airways only come from the south.

[2014-12-17 21:35] psycho202 commented on #51
Aah okay, that was a little bit unclear from the code itself. The wiki page explains a lot. Thanks!

[2014-12-17 21:35] #51 closed, assigned to nobody

[2014-12-17 22:34] zlsa commented on #50
When an aircraft fix is canceled, the heading should remain the same.

[2014-12-17 22:34] #50 closed, assigned to nobody

[2014-12-17 22:37] niklasfi commented on #45
Isn't this taken care of by #47 and #49, or do you have greater things in mind?

[2014-12-17 22:45] zlsa commented on #45
I forgot to close this...

[2014-12-17 22:45] #45 closed, assigned to nobody

[2014-12-17 22:47] zlsa commented on #41
This has been fixed in the latest version of EasyList: http://forums.lanik.us/viewtopic.php?f=64&t=20074

[2014-12-17 22:47] #41 closed, assigned to nobody

[2014-12-17 23:59] Diastro commented on #41
Wow that was quick :+1:

[2014-12-18 00:28] xenocide0 commented on #42
Mouse panning would be awesome, probably just need to add some kind of border to show where your scope ends.   Maybe use right-mouse - drag?
![atc](https://cloud.githubusercontent.com/assets/4967846/5481655/afb016c8-8609-11e4-9c58-13c48c94b07f.png)

[2014-12-18 05:06] Diastro commented on #42
Feedback before closing this?

I'll get to moving labels soon...

[2014-12-18 05:10] Diastro commented on #41
For anyonw still unable to load the page :
- Click on the addblock icon (next to the adress bar on Chrome)
- Options
- Click update now which will update EasyList

Should work then

[2014-12-18 05:49] zlsa commented on #42
Seems to work perfectly.

Side note: I used the `prop.<module>.<variable>` pattern so that it's easy to figure out what file the variable is managed in; also, it's much harder to accidentally overwrite variables in other modules then.

[2014-12-18 06:01] Diastro commented on #42
Good noted. Thanks!

[2014-12-18 06:01] #42 closed, assigned to nobody

[2014-12-18 06:13] Diastro commented on #27
Out of curiosity when did you hit that (when starting a new game, when getting every plane to land and there wasn't any new plane, playing with a new airport without any airlines assigned to it)?

I'm trying to reproduce this but I can't seem to figure out a way without doing it using the code.

[2014-12-18 07:31] voska commented on #27
After landing every plane.

On Thu, Dec 18, 2014, 07:13 David Albertson notifications@github.com
wrote:

[2014-12-18 16:46] stijnsanders opened #56 "Overview of points gained/lost"
I'm not sure why I lose points, or gain them for that matter.
I suggest a list that pops up with the last x things points are added or subtracted for. It would help to know what you were doing wrong.

[2014-12-18 16:50] stijnsanders commented on #19
does that mean making waiting planes taxi back to the apron?

[2014-12-18 16:52] zlsa commented on #19
It will allow an aircraft that's taking off to be aborted; it will taxi back to the apron and act like a brand-new departure.

[2014-12-18 17:12] stijnsanders commented on #3
is there an online repository of waypoints? I checked http://www.faa.gov/ and http://www.eurocontrol.int/ but I guess a search from the homepage won't hand them to me
(but with just a little scratching: https://nfdc.faa.gov/xwiki/bin/view/NFDC/Browse+Aeronautical+Data )

[2014-12-18 17:17] stijnsanders commented on #19
is that the bit about "v1" and "v2"?

[2014-12-18 17:21] zlsa commented on #19
In real life, there are three major V speeds:
- V1: above this, you are committed to takeoff and cannot abort any longer.
- Vr: Lift the nose up ("rotate")
- V2: Minimum takeoff speed with one failed engine

I'll just calculate V1 as `aircraft.speed.landing*0.75` or similar.

[2014-12-18 17:34] psycho202 commented on #3
Dear Stijn: For the US airports, both me (who made KJFK) and arithmetric (who made KMSP) used the airport diagrams found on Flightaware.com.

Using KMSP as example: http://nl.flightaware.com/resources/airport/KMSP/IAP/ILS+RWY+30L%28CAT+II%29

There you can find all the waypoints in the Approach and Depart procedures.

[2014-12-18 20:17] pcrumm commented on #3
These are also available from airnav:
http://www.airnav.com/airport/KSFO

In particular, you'll want to look for ILS/LOC approaches and VOR approaches, and scan over departure procedures, though you'll generally find that departure fixes are far enough away from the airport that they aren't really includable here without some fudging.

[2014-12-18 21:12] stijnsanders commented on #3
ooh look what I found! would this make an interesting layout?
http://www.belgocontrol.be/website/eaip/eAIP_Main/html/eAIP/EB-AD-2.EBBR-en-GB.html

[2014-12-18 21:57] tomasfg commented on #3
If you want some info about spanish airports you can have a look at this page:

http://www.enaire.es/csee/Satellite/navegacion-aerea/en/Page/1078418725163/?other=1083158950596#ancla3

There're lots of info but finding the one about waypoints can be a little bit trickier.

[2014-12-18 22:03] psycho202 commented on #3
@stijnsanders: Zaventem would indeed be interesting to see :)

[2014-12-18 22:22] vfrico opened #58 "Game crashes when fixing navigation to a fix"
When I try to insert a fix which does not exists (like "fix aaaaa") the game can't find that and crashes. I tried it on Firefox (34) and with the latest commit

[2014-12-18 22:41] Diastro opened #59 "More Approach Types (Visual, RNAV, GPS, LAAS, WAAS, VOR, NDB, etc)"
It is fairly popular for smaller aircraft to fly "visual".

Maybe we could add this feature which would allow the ATC to clear and aircraft for landing in a visual manner (no using ILS/fixes). Also, Visual aircraft could fly around in an "automated" way.

[2014-12-18 23:45] zlsa commented on #46
KJFK is broken right now (very wrong scale); its scale needs to be fixed.

[2014-12-18 23:47] Diastro commented on #58
Still crashes

Repro :
PlaneA direct CEPIN
PlaneA direct aaaaaaaa

[2014-12-18 23:55] #58 closed, assigned to nobody

[2014-12-18 23:56] zlsa commented on #58
Thanks @Diastro, never tested that.

[2014-12-19 00:54] Diastro commented on #46
One thing I realized was that KDBG has pretty long runways (6-7 km runways)/runway separations (added to the fact the the runway position isn't right). The default zoom for the canvas is adapted to display KDBG properly. Hence, regular airport (with real dimensions) look pretty tiny with the default zoom / perspective.

Maybe we should give KDBG more realistic lenght and runwayy separation, then f

[2014-12-19 10:20] stijnsanders commented on #3
I'd like a go at it myself, but is there a guide or something? What does `runways.ils[]` do? How do I convert feet to `runways.length`? Is `runways.position` to the center of the lane, and what factor should I use to convert lat-long diffs from the ARP's? And then there's the `departures` and `arrivals` bit...

[2014-12-19 10:54] Phil57 opened #60 "Speed and altitude changes not applied"
When a aircraft has a fix for destination, speed and altitude changes are not applied. Only the stripe is changed. As soon as you type 'abort' or assign a heading, speed and altitude changes are applied.

[2014-12-19 13:13] Diastro commented on #60
Would you happen to have exact steps to repro this? I have experienced this
during "longer" games but never been able to repro this on the spot...

Also if you are able to repro can you check the console to see if there are
any js errors.

It would be much appreciated.
Thanks
On Dec 19, 2014 5:54 AM, "Phil57" notifications@github.com wrote:

[2014-12-19 13:21] Phil57 commented on #60
Example on the Debug Airport:
- F ABOFA (Works great)
- S XXX C XXXX (Only the stripe is updated)
- Abort or H XXX (speed and altitude changes from the previous command are finally applied)

If flying a heading and not a fix, no issue.
I don't see any JS error in the console.

Tested on Chrome 40 and Firefox 35.

It worked as expected yesterday.

[2014-12-19 13:24] Diastro commented on #60
Great thanks.

@zlsa i guess this was also affected by the changes we merged yesterday...
On Dec 19, 2014 8:21 AM, "Phil57" notifications@github.com wrote:

[2014-12-19 14:30] stijnsanders commented on #3
With a bit of fiddling around with the numbers, and trying to convert lat-long to projected offsets, this is what I get so far: https://gist.github.com/stijnsanders/f9abfe9ee909d9d0babd

Oddly enough the waypoints are way off onto Belgian territory, 'ANT' looks like Antwerp, the big city to the north, and 'KOK' is presumably Koksijde on the coastline!

[2014-12-19 16:01] zlsa commented on #60
Fix in progress.

[2014-12-19 16:04] #60 closed, assigned to nobody

[2014-12-19 16:05] Phil57 commented on #60
Looks good, I'll play a bit and come back here if anything is wrong.

[2014-12-19 16:10] Diastro commented on #60
Thanks @phil57 @zlsa
On Dec 19, 2014 11:05 AM, "Phil57" notifications@github.com wrote:

[2014-12-19 17:14] travishorn opened #61 "Game stops when commanding a plane to hold while waiting on runway"
While playing, assume **BAW686** is a plane ready at apron.
1. `BAW686 taxi 36L`
2. Wait until **BAW686** is waiting on the runway
3. `BAW686 hold right`

I expected the plane to fly in a circle after departure. Instead, the game stops with error:

[2014-12-19 17:39] #61 closed, assigned to nobody

[2014-12-19 19:03] MrManny opened #62 "ILS aborting"
One of the recent two commits (c9083b7 or 2734af4) causes ILS landings being aborted by themselves during final approach for some reason. As far as I know, this wasn't the case with 6a6e034.

[2014-12-19 19:50] Phil57 commented on #62
I have the same issue.

ILS is locked and working and when the aircraft is short off the runway it looses ILS.

No JS error.
Repro: Any ILS.

[2014-12-19 19:55] MrManny commented on #62
According to git bisect, 2734af4 is the commit that introduced this error.

[2014-12-19 20:28] #62 closed, assigned to nobody

[2014-12-19 22:30] dpnoyes1 opened #63 "Game Freezing"
Game freezes very often. Is a fairly recent problem (last 2 days). Especially when trying to do multiple commands at once or with take offs.

[2014-12-19 23:10] zlsa commented on #63
A few things:
1. When it freezes, could you right-click on the page and select "Inspect Element"; open the console and, if there are any errors, screenshot it (or copy-paste)
2. What hardware do you have?

Unfortunately, "freezes often" is a very generic problem and could be caused by a lot of things.

[2014-12-19 23:55] dpnoyes1 commented on #63
Hardware:
64-Bit Windows 8.1
Core i5-4210U
8 gb RAM
NVIDIA GeForce 840M

On Fri Dec 19 2014 at 5:10:36 PM Jon Ross notifications@github.com wrote:

[2014-12-20 01:57] dpnoyes1 commented on #63
It happens most frequently when giving long commands for planes on the
apron.

eg "w 31l c 10 s 250 f lorah"

On Fri Dec 19 2014 at 5:55:48 PM David Noyes dpnoyes@gmail.com wrote:

[2014-12-20 05:19] Diastro opened #64 "Make ILS distance a variable defined per runway"
Each runway should have an ILS distance defined per procedure. Instead of using a static one (in aircraft.js:81) we should make this a variable in _airport_.json

[2014-12-20 05:37] Diastro opened #65 "Blocking command line"
Not sure why.... While working on issue #46 I came across this.

After making an aircraft taxi to a runway, if you type the following command **(with the typo in it)** the command line wont allow you to press enter...

Repro (after making aircraft taxi) : BAW629 climg 7000 takeoff

[2014-12-20 06:56] Diastro commented on #46
With the latest fixes I pushed to airports, every airports now uses the correct runway length (in km). Also, I adjusted the default scale to match the real length of runways.

Remaining : Fixing waypoint positions (I only fixed the waypoints of KDBG). I will do the remainning tomorow.

[2014-12-20 10:03] Phil57 commented on #46
Due to this change, labels are not correctly placed at the end of the runway on KDBG for 36L and 36R.
Other are weird too, but better.

[2014-12-20 12:17] robbarry commented on #63
I've seen this error:
Uncaught TypeError: Cannot read property 'getPosition' of null
Line 931 aircraft.js
var position = runway.getPosition(this.requested.runway);

And this error:
Uncaught TypeError: Cannot read property 'getAngle' of null
aircraft.js:948
this.target.heading = runway.getAngle(this.requested.runway) + Math.PI;

Error seems to occur on KDBG if I order a takeoff from runway 1 and se

[2014-12-20 15:32] stijnsanders commented on #3
I've taken the time to do a proper pull request:
https://github.com/zlsa/atc/pull/66
also the calculations I did on the lat/long are here: https://drive.google.com/file/d/0B78PfaNlYkBsWHlzOGJpY2hRTGc/view?usp=sharing

[2014-12-20 15:43] zlsa commented on #65
Ooh, that's a neat bug.

It splits the string by whitespace, then by commands; for example:

[code]

However, since "climg" is an invalid command, it tries to append "climg" to the previous command, which doesn't exist. Fix in progress.

[2014-12-20 15:46] #65 closed, assigned to nobody

[2014-12-20 17:27] Diastro commented on #65
Hahah sweet! Thanks @zlsa
On Dec 20, 2014 10:46 AM, "Jon Ross" notifications@github.com wrote:

[2014-12-20 18:44] Diastro commented on #63
- Seems to be caused by the fact that you direct the plane while it hasn't taken off yet
- Even if you do "takeoff" wait a second or two and then direct the plane to a waypoint but the airplane is still on the runway (altitude read 00) you will get the sim to crash.

@zlsa I can try to look at this but I might need your help.

Thanks

edit: NVM my comment on the runway im tired..

[2014-12-20 18:46] pcrumm commented on #3
Good work! I've been thinking of creating a little online map-making tool for this.

[2014-12-20 18:48] Diastro commented on #3
Sweet. A little python tool would be awesome!

On Sat, Dec 20, 2014 at 1:46 PM, Phillip Crumm notifications@github.com
wrote:

##

_David Albertson_
_Senateur du comité étudiant en Génie logiciel_
_Administrateur du STEP, Serveurs télématiques_
_École Polytechnique de Montréal_

[2014-12-20 19:58] kurtkraut commented on #63
I do confirm the issue with the same symptoms and results.

[2014-12-20 20:26] daviessm commented on #29
atc-sim seems to implement this with aircraft having a required fix to head to after departure. I think that's a fairly sensible way of implementing it; after this point the aircraft could follow its own navigation to its destination - which in our case could be implemented as turning to a heading within 60° of the angle between the airport and the fix and climbing toward the aircraft's maximum al

[2014-12-20 20:30] daviessm commented on #29
I think this guide from the flightgear flight sim is a pretty good idea of a realish sequence of events:

http://wiki.flightgear.org/ATC_Tutorial#Lining_up_and_taking_off

[2014-12-20 21:28] Diastro commented on #63
Anyone can confirm if my patch fixed the takeoff issue?

[2014-12-20 21:44] dpnoyes1 commented on #63
Still frozen when giving take off commands with a fix.

String commands for take off work with heading, climb, speed, just not fix.

w 01l c 10 s 250 heading 270 WORKS

w01l c 10 s 250 f wetor DOES NOT WORK

On Sat Dec 20 2014 at 3:28:12 PM David Albertson notifications@github.com
wrote:

[2014-12-20 21:48] Diastro commented on #63
Have you just tried with the latest version?

I ran exactly this and got no issue :
PLANE_X taxi 1
PLANE_X w01l c 10 s 250 f wetor takeoff

[2014-12-20 21:51] dpnoyes1 commented on #63
When I load the bookmark I still see 2.1.7 . Is there a new update at a
different link?

On Sat Dec 20 2014 at 3:49:00 PM David Albertson notifications@github.com
wrote:

[2014-12-20 21:53] Diastro commented on #63
I didn't change the version for this fix. I always test from https://zlsa.github.io/atc/. I can't repro the freezing when trying on this link... Can you try the exact sequence I posted and post any JS error that you can see in the console?

[2014-12-20 21:55] daviessm commented on #39
I had a play and added speech synthesis for readbacks using the W3C web speech API. There's no on/off switch and on my machine (Chromium 39 on Linux) the speech gets stuck after every readout so I have to call speech.cancel() manually each time but it does read things out. Also I needed to start Chromium with the --enable-speech-dispatcher parameter for it to work.

https://github.com/daviessm/atc

[2014-12-20 21:59] Diastro commented on #39
@daviessm hahahaha! I just cloned your repo to test and I gotta say it's pretty cool! I'd be amazing if the voice could be a little more "natural".

Still pretty cool.

I don't think read-back should be on by default but if we could add a button to enable/toggle this and maybe work on the voice it'd be a great addition!

[2014-12-20 22:01] dpnoyes1 commented on #63
Sure.

I ran "N359FP w36l c 10 s 250 f muste" and noticed the plane wasn't
taxiing. I repeated the command to taxi, and the program froze.

On Sat Dec 20 2014 at 3:53:35 PM David Albertson notifications@github.com
wrote:

[2014-12-20 22:09] daviessm commented on #39
@Diastro The speech is done through the browser which calls OS libraries to do the actual synthesis. How it sounds will depend entirely on that. I've just tried it on my Android phone (5.0.1) and it sounds pretty natural.

Agree about the on-by-default but I suck at UI design so I'll leave that up to someone else. It would be easy enough to add another variable speechOn or something to speech.js a

[2014-12-20 22:11] Diastro commented on #63
@dpnoyes1 Oh. Nice. You had the one case I wasn't covering (giving orders while the aircraft is still on the apron). On the sequence I tested (see above) I was taxiing, then giving orders, then taking off.

Can you test now?

[2014-12-20 22:12] Diastro commented on #39
@daviessm Gotcha. Yeah regarding UI @zlsa is probably the best person to help for that last part.

[2014-12-20 22:16] dpnoyes1 commented on #63
I think I found the issue. It has to do with order of commands.

[Aircraft] c 10 s 250 f romny w10l works

but

[aircraft] w 10l c 10 s 250 f romny does not work

the long commands while on the apron only work if the taxi/wait command is
done last

On Sat Dec 20 2014 at 4:11:33 PM David Albertson notifications@github.com
wrote:

[2014-12-20 22:20] Diastro commented on #63
Can you post the full sequence all the way until after take off?

This is working for me :
[aircraft] w 10l c 10 s 250 f romny
[aircraft] taxi
[aircraft] takeoff

[2014-12-20 22:24] dpnoyes1 commented on #63
yes that works for me as well. The game only appears to freeze up if the
taxi command is given BEFORE the fix command

On Sat Dec 20 2014 at 4:20:58 PM David Albertson notifications@github.com
wrote:

[2014-12-20 22:28] Diastro commented on #63
This should fix it.

[2014-12-20 22:32] dpnoyes1 commented on #63
All fixed. Thanks, loving the game!

On Sat Dec 20 2014 at 4:28:28 PM David Albertson notifications@github.com
wrote:

[2014-12-20 22:33] Diastro commented on #63
No problem! Thanks for helping out!

Quick tip, if the games crashes again, try to provide exact repro steps and, if possible, open your browser's debugger and give us the exception :).

Thanks again!

[2014-12-20 22:33] #63 closed, assigned to nobody

[2014-12-21 19:01] daviessm commented on #12
I'm interested in working on this. @zlsa would you like to make any suggestions as to how it should be implemented?

I'm thinking:
- Spawning arrivals may declare a fuel emergency. Thoughts:
  - In real life the radar blips are highlighted/flash if the plane squawks 7700.
  - Would there be a timeout or something before the plane crashes?
  - More points for an expedient landing?
- Departures may

[2014-12-21 19:06] daviessm opened #68 "Changeable weather"
Winds could change direction forcing controllers to route planes to a different runway. High crosswinds could mean (some) planes could not land.

Poor visibility could result in VFR flights being unable to land.

[2014-12-21 19:29] zlsa commented on #12
All of those sound very good.

I'd add an object in the `Aircraft` class (`assets/scripts/aircraft.js`) named `emergency` and just semi-randomly set some emergencies to `true` in the `init` function (where aircraft are spawned).

Go-arounds are already possible, but only if you drastically mismanage approaches and they can't descend fast enough.

[2014-12-21 19:30] Diastro commented on #12
@daviessm I'd love to work with you on that one!

[2014-12-21 20:13] daviessm commented on #12
Thanks @zlsa, @Diastro that sounds good. What would you like to do?

[2014-12-21 20:18] Diastro commented on #12
@daviessm I think we should work on the UI first (highlight planes in emergency situation on the map and on the rigth panel with info, maybe the emergency type).

Once this would be done it would be easy to simply implement an emergency class like @zlsa said and the logic to trigger these emergency.

I'm currently working on an airport/waypoint calculator i'll be able to jump in tomorow probably.

[2014-12-21 20:24] daviessm commented on #12
Well, I only have a couple of hours today and tomorrow then I'm away for ten days so I'll try to get something done.

There is already an empty type in aircraft.js for emergency, for now I'll add one element to that: type, which will be null or one of a few types. I'll start with "fuel".

[code]

For the UI, what about making the red approach indicator bar on the left hand side flash both on the r

[2014-12-21 21:17] daviessm commented on #12
https://github.com/daviessm/atc/commit/a5e4650600dafec017270d231ff10a32776a6f01

There's some UI, feel free to have a look. I would like to make the strip on the canvas flash too but I can't figure out where it's drawn.

Thinking about it (and this isn't just an excuse for not doing it) in real life the type of emergency wouldn't be shown - it would be up to the controller to remember. So I would

[2014-12-21 21:28] zlsa commented on #12
I'd vote for having a framework formultiple emergencies; i.e. `emergency.fuel`, `emergency.engine_out`. Re: displaying the emergency on radar, ideally, it would display the squawk (so 7700); in lieu of that, I'd add a red ring around the aircraft dot or something (i.e. in `canvas.js`, draw an arc if `aircraft.isEmergency()` or something similar).

[2014-12-21 21:31] Diastro commented on #12
@daviessm Good point.

@zlsa Im good with that.

[2014-12-21 21:36] daviessm commented on #12
In terms of ATC, what do they need to do differently to handle different emergencies? As far as I'm aware, they need to either a) get the plane to the runway as fast as possible or b) give it space away from other traffic to fix its own problems. I'm not sure what else we'd need to really capture so a whole framework might be overkill (at this point). All I can think of at the moment is that there

[2014-12-21 21:51] daviessm commented on #12
https://github.com/daviessm/atc/commit/747997adfe214744701385ea3e02948ca29038a9

Now the aircraft on the canvas turn red when in an emergency state. That's me done for this evening so feel free to change anything you like and I might get time to work on it some more tomorrow. :smiley:

[2014-12-22 20:34] Diastro opened #69 "Control traffic region (CTR) overlay"
@xenocide0 had a very good point/idea to add the control zone overlay in issue #42.

I've just implemented this and I would like to get some feedback.

As of right now it is customizable in each airport.json file.

[2014-12-22 21:53] #64 closed, assigned to nobody

[2014-12-23 07:56] Diastro commented on #39
Can we close this?

[2014-12-23 11:51] daviessm commented on #39
@smp4488 Sorry to have kind of jumped past you on this - does it do what you were thinking of?

[2014-12-23 14:32] smplman commented on #39
@daviessm it's all good. Holidays have me all tied up. I haven't had a chance to look at your changes yet, but you can see what I have added here https://github.com/smp4488/atc. I created a voice / voices  model wanting to offer the user a choice of the available system voices. I have most of it hashed out, but the ui still needs a little love.

[2014-12-23 14:32] #39 closed, assigned to nobody

[2014-12-23 14:38] daviessm commented on #39
@smp4488 The additions I made weren't configurable at all - it just adds a call to the speech synthesis API. @zlsa added an on/off toggle to that. I think it'd be worthwhile to have a UI for changing other settings too.

[2014-12-24 01:27] #69 closed, assigned to nobody

[2014-12-24 05:08] Diastro opened #71 "Adding aircraft trailling"
Add aircraft trailling.
- Trailling should be proportionate to distance travelled by unit of time (speed) to give an idea of which aircraft is travelling faster
- Tralling shouldn't be to intrusive on the overall display

Any feedback?

[2015-01-05 17:15] zlsa opened #73 "Cannot zoom with '+', '-', and '=' keys on Firefox"
Confirmed with Firefox version 34.0.5 on Linux.

[2015-01-05 17:18] zlsa commented on #73
It seems that the keycodes are very different on Firefox.

[2015-01-07 18:48] xenocide0 commented on #71
Love this!

[2015-01-08 02:41] #71 closed, assigned to Diastro

[2015-01-09 21:08] daviessm commented on #12
@Diastro I'm back - are you still interested?

[2015-01-10 21:20] Diastro commented on #12
Hey! Yeah I haven't push in a couple of week either! Yeah, let's do it!

[2015-01-10 22:59] daviessm commented on #12
@diastro excellent! Do you want to take a look at my branch and think about how to put planes in an emergency state?

I'm thinking we need a configurable probability of emergencies because in reality they're quite rare but people might want to have a lot in the sim. Then planes will, at random, request either a) immediate landing or b) a place to hold away from other traffic.

In case a), points c

[2015-01-11 13:19] robbarry opened #74 "Setting for rate of aircraft generation"
It'd be great to have a setting that allows users to vary the rate at which new aircraft are generated.

[2015-01-11 13:19] iphoting commented on #74
I like this possibility. It allows the user to increase the difficulty.

[2015-01-12 03:15] Diastro commented on #74
@zlsa Anyway you could try to think about some UI update for this? I don't mind doing the code behind it.

[2015-01-14 05:13] zlsa commented on #74
At first, we can just use a command such as "rate 2" or something similar. The timewarp button cycling didn't turn out too good from a UI point of view.

[2015-01-15 14:05] fuiru opened #75 "FIX using last TURN direction"
If you set a heading using a direction (e.g., turn right 90), then a fix used right after will also turn in that direction, regardless of whether that is the optimal turn.
The 'fix' should clear the directive. Alternatively, have fix work like turn does, allowing the use of left and right.

[2015-01-16 00:15] larsen0815 commented on #56
+1
Could be shown when clicking on the current points count. Additionally, each time you earn or lose points, this could be noticed in the text area on the lower left.

[2015-01-19 21:00] larsen0815 commented on #3
@Diastro : Wow, you´re quick. I just thought that something went wrong when I didn´t see my pull request any longer just two minutes after having added it. Thanks for accepting.

[2015-02-13 16:55] sixeyeco commented on #74
@zsla: ty for great code. there's no time warp IRL. i prefer "increase traffic" setting. skills will develop to eliminate the need for TW.

[2015-02-13 17:27] sixeyeco commented on #68
@daviessm: variable wind direction would be amazing. diverting a plane that is not able to land due to excessive CW to another airport should add points if ordered in a timely manner (e.g. prior to hitting localizer). rain could increase landing time/extend landing distance forcing adaptive taxiing practices. thunderstorms could drift through radar necessitating diverting aircraft to avoid weather

[2015-02-13 19:43] sixeyeco commented on #28
I'm fairly certain you have all the input you need on this but...when I vector extremely tightly the tags can be misleading. since the (craft's) dot gets big and the tag is highlighted then the tag itself could be much further away.

![image](https://cloud.githubusercontent.com/assets/179496/6193499/a30a0746-b370-11e4-89d6-31e78d325afb.png)

when craft lock on to ILS I'd prefer their tags be a lot

[2015-02-13 19:56] sixeyeco commented on #19
oh! could the "v status" replace knots on tag on takeoff? then we could see if it's too late to abort! once a craft hits, say..1000 ft then the knots would replace v staus.

[2015-02-13 21:09] sixeyeco commented on #12
I love this!!!!  may I add 2 cents?

equipment failures might require ATC vectoring a craft to a runway without using waypoints. diverting emergencies to alternate airports does happen, perhaps a craft could request it? though we'd have no idea how to vector them.

IRL ATC's request the nature of the emergency. They inquire about the number of souls on board and the fuel remaining in pounds. somet

[2015-02-13 21:16] sixeyeco commented on #11
anything that reduces the time they take to read back would be awesome. they get so backlogged that I sometimes miss taxiing awaiting aircraft. i'd love to just hear "Speedbird 123, roger".

[2015-02-14 04:40] sixeyeco opened #84 "Heading & runway assignment given (and read back). Only runway assignment taken."
When issued consecutively, the commands ("BAW660 TURN 45" then "BAW660 LAND 30L") work as expected. Yet, combining a fix (vector or waypoint) with a runway assignment results in only the runway being assigned. If this is as intended then the reported issue is that a full and correct read back occurs yet the instructions are not carried out. Repro: "[callsign] TURN 45 LAND 30L"

[2015-02-14 19:12] sixeyeco opened #85 "Freeze (F [WAYPOINT] [ANY #])"
This "incorrect" command freezes the game.
repro: F[space][valid waypoint][space][any #]

I also froze after issuing a command with a syntax error [N249JY S200].
![image](https://cloud.githubusercontent.com/assets/179496/6204843/98360c4a-b50d-11e4-8db8-69184e8bb184.png)

[2015-02-15 05:12] suhaildawood opened #86 "Blurry Canvas on Retina Display"
I noticed the canvas is blurry when I use my retina macbook. Any idea why?

![screen shot 2015-02-15 at 12 05 31 am](https://cloud.githubusercontent.com/assets/1642260/6202166/186f6710-b4a7-11e4-8b5a-21a112f8c70c.png)

[2015-02-15 19:59] zlsa commented on #86
HiDPI displays aren't handled properly yet. It has to check `devicePixelRatio` and scale the canvas up by that.

[2015-02-16 06:25] sixeyeco opened #87 "Transmission cut off, not jammed, not repeated."
If a command is given just as the "craft entering airspace" advisory begins the advisory is cut off yet the command is heard without issue. The advisory is not repeated, as would be the case when a transmission gets jammed. If the command is short enough you can still hear the end of the transmission.

This does not adversely affect gameplay (unless a controller places an inordinate amount of impo

[2015-02-19 21:42] sixeyeco opened #88 "Turn radius discrepancy (two craft, same speed, same alt)"
It's not as obvious in this picture but it is glaring during game play.
![turn-radius-discrepancy](https://cloud.githubusercontent.com/assets/179496/6276524/6599c06a-b83c-11e4-9ef8-cb92770c1759.png)

Repro: Line up two craft on the same heading in close proximity to each other. Put the first craft into a holding pattern, quickly put the second one in to the same holding pattern.

Thanks again for

[2015-02-22 08:52] tedrek commented on #88
The turn rate for aircraft is based on the exact model so if there are two aircraft but they are different models (ie a B744 vs an A320) they will turn at significantly different rates.  In this case 0.8 degrees/second vs 1.3 degrees/second.

I can't find any reason why two aircraft of the same model wouldn't turn at the same rate.

In reality turn rates (especially in a circle) are a function of

[2015-02-23 02:48] sixeyeco commented on #88
Thank you. I was mistaken. I did not compare two craft of same model, Just the same speed, heading and altitude.

I've been trying to get a feel for when to put a plane into 140 degree turn at full speed and have it line up for a perfect approach every time. This would explain my difficulty.

If it jives with the way it is IRL then I would love turn rates dictated by speed and bank angle.

[2015-02-23 18:13] sixeyeco commented on #84
Here's a link to a [video that fully describes the issue.](https://drive.google.com/file/d/0B64kk35ARmnTbkFOR1VYbW1BWTA/view?usp=sharing)

This one issue impacts my game play the most. When I identify the final turn that will put a plane on to ILS I am forced to issue two, separate commands (e.g. T 300, then L 30L). This occurs at a time when I am likely to have multiple craft in close proximity r

[2015-02-26 18:13] sixeyeco opened #92 "Suggestions"
<h5>Select preset scenarios</h5>
Sometimes I reload twenty times or more to get a good one (17 strips at KMSP seems to be the max). Would it be possible to select specific preset scenarios? I would like to have the ability to pick a scenario with the most strips.

<h5>More flight progress strips</h5>
More strips would be great. I can see that as it is now there is insufficient space to have more t

[2015-02-26 20:27] xenocide0 opened #93 "Visual ILS Lock (suggestion)"
I have been trying to come up with a good looking / minimal visual ILS lock indicator:

Anyone else have any ideas?

![atc_mockup](https://cloud.githubusercontent.com/assets/4967846/6401045/3e19ae9e-bdb2-11e4-944f-856d7397ca3e.jpg)

[2015-02-26 20:34] zlsa commented on #93
That looks very good! I like the main one and alt 2; I think 1 and 3 are too complicated while 4 has a square which IMO doesn't fit with the theme. Do you have a branch with this written?

[2015-02-26 20:39] xenocide0 commented on #93
no, was just trying out ideas in photoshop.

Yea, I liked those the best also, leaning towards alt #2 as it seams the cleanest.

And here is another one:

![ils_lock](https://cloud.githubusercontent.com/assets/4967846/6401312/651cf17a-bdb4-11e4-9ce8-b4779c0f19b8.jpg)

[2015-02-26 20:50] zlsa commented on #93
I can pretty easily implement this if we can pick one style. Do you prefer the main one or alt 2?

[2015-02-26 21:36] xenocide0 commented on #93
main one.    ( Looking at alt#2 now, its sort of looking like a mag glass... )

[2015-02-28 01:18] zlsa commented on #93
I'm refactoring the infobox drawing code at the same time so this may take a day or two.

[2015-03-01 22:20] sixeyeco commented on #30
Just FYI: I also had a failed arrival at the start of a new game.

prop.game.score
Object {arrival: 0, departure: 0, windy_landing: 0, windy_takeoff: 0, failed_arrival: 1…}

[2015-03-01 23:01] Diastro commented on #30
And you can consistently repro this?

The only thing I could see is a failed arrival (see game.js:55 | score -=
prop.game.score.failed_arrival \* 20;). As to why this is happenning im not
sure..

On Sun, Mar 1, 2015 at 5:20 PM, Chris notifications@github.com wrote:

##

_David Albertson_
_Senateur du comité étudiant en Génie logiciel_
_Administrateur du STEP, Serveurs télématiques_
_École Polytech

[2015-03-03 19:19] sixeyeco commented on #30
@Diastro: Nope. Since it occurred at the very start of the game (prior to making any inputs) I can't imagine how I could repro it. In fact, I can't even see the failed arrival. Can you tell (from the screenshot) which craft failed to arrive?

Anyway, I'd be happy to help in any way I can.

[Apparently I deleted the screenshot from my original reply, so I'll repost it here]
![off_to_a_bad_start](ht

[2015-03-03 19:24] sixeyeco commented on #84
I'd be happy to close this issue if it's not considered an actual issue. But I would champion for the ability to issue a heading and a runway assignment in the same command.

[2015-03-04 22:41] zlsa commented on #84
Hm, that should work properly. I'll investigate.

[2015-03-04 22:43] zlsa commented on #84
In its current state, running the 'land' command clears all previous navigation and keeps flying the current heading until ILS is locked. @Diastro, does this sound "realistic"? i.e. if you were flying heading 090 and the tower said "turn heading 180 you are cleared to land on runway 180", would you be expected to turn 180 and then try landing?

[2015-04-21 14:12] ufkes commented on #3
I've added a PR for adding Amsterdam Schiphol. The scale and coordinates should be pretty accurate.
#95

[2015-04-21 14:30] harp71 commented on #3
Hi, can i add an airport? I created EDDM but have no exp. with github or any other colaborate project, for that matter.
![image](https://cloud.githubusercontent.com/assets/11310456/7254477/ab6478ce-e843-11e4-845b-37f52960b5be.png)

[2015-04-21 14:54] larsen0815 commented on #3
Yes, it is quite simple:
- Fork this project and checkout from your accont to your local machine
- Add the files
- You will have to change one file so EDDM gets included. Don´t recall exactly which one - just search for any other airport, e.g. EDDH
- Commit all your changes to your local repository and push it to your github repo
- Create a merge request on Github so it can be added to the main pr

[2015-04-21 17:45] zlsa commented on #3
The file is assets/scripts/airports.js - just search for "airport_load("
and add "EDDM" (it should be obvious). Thanks @harp71!

On Tue, Apr 21, 2015 at 7:54 AM, larsen0815 notifications@github.com
wrote:

[2015-04-23 14:50] ufkes commented on #3
I've updated EHAM with better coordinates, new arrivals/departures (including KLM, woot!). Please review. #96

[2015-04-28 17:25] clawoflight commented on #11
@sixeyeco I'd prefer realism over brevity in this case. Or, this could be made an option? Would increase the complexity though...

[2015-05-12 16:51] harp71 opened #101 "No separation incidents while locked on ILS"
While on the ILS planes should not cause a separation incident, e.g. same height on parallel runways

[2015-05-12 16:55] avdg commented on #101
I'm sure it depends on specialized technology that the airports are using to make these things possible, for example: http://www.airservicesaustralia.com/precision-runway-monitor/a-pilots-guide-to-ils-prm-approaches/.

Though I personally know nothing about how this is done in practice.

[2015-05-12 17:32] harp71 commented on #101
The vertical separation should be 1000 feed, the horizontal 3NM in minimum
at approach heights. But if on ILS that rule does not or cannot apply. E.g.
on Munich Airport the two parallel runways are less than 1NM apart and
there are planes landing simultaneously. So my suggestion is: no separation
incidents while on (different, parallel) ILS.

2015-05-12 18:55 GMT+02:00 Anthony Van de Gejuchte <not

[2015-05-12 17:36] avdg commented on #101
Yes, though safety is still a concern.

Simply disabling it and then being in a situation that a plane is flying into another plane is simply undesired. It's way more complicated than just disabling the rules.

So the question now is, what procedures should one follow.

[2015-05-12 20:15] harp71 commented on #101
As i said: as long as two planes ILS locked on two parallel strips there is
no separation incident

2015-05-12 19:36 GMT+02:00 Anthony Van de Gejuchte <notifications@github.com

[2015-05-12 20:23] zlsa commented on #101
According to the answer [here](http://aviation.stackexchange.com/questions/12931/what-is-the-minimum-distance-allowed-between-two-parallel-runways), the minimum _runway centerline separation_ for IFR is 750 feet; I seem to recall that you cannot land wingtip-to-wingtip in those conditions (IFR), though.

[2015-05-12 20:30] zlsa commented on #92
Sorry about the delay; I hadn't noticed the new issues yet.

**Select preset scenarios**

Do you mean a way to save and restore the state of the simulation? I've been thinking about a way to do this cleanly for a while now but I haven't really seen the need.

**More flight progress strips**
Would you like this to be separate departure and arrival columns or to just make it twice as wide? (In the l

[2015-05-12 20:30] zlsa commented on #93
... or longer. Sorry about the huge delay, but real life got in the way (as it often does).

[2015-05-12 21:02] avdg commented on #101
Since this is a simulation and there are [so many factors](http://www.skybrary.aero/index.php/Parallel_Runway_Operation#Safety-Related_Issues_Affecting_Independent_Approaches_to_Closely-Spaced_Parallel_Instrument_Runways) that can influence the possibility of a parallel approach . Maybe we should reduce the use case to 'perfect condition' for now (good weather, no technical issues, etc... ). These

[2015-05-12 21:13] avdg commented on #101
It's actually good to gather and read the information, its so easy to find and there are a lot of details to be considered...

[2015-05-12 21:24] Diastro commented on #93
"Real life" is there such a thing! :P

On Tue, May 12, 2015 at 1:30 PM, Jon Ross notifications@github.com wrote:

##

_David Albertson_

[2015-05-15 15:52] xenocide0 commented on #93
Damn you real life!

Seriously though, no worries.

[2015-05-20 22:38] xenocide0 commented on #93
I got the graphics portion working for it, just haven't dug through the code to find where to see if a plane has ILS enabled or locked.

[2015-05-21 01:15] zlsa commented on #93
If the aircraft's `mode == "landing"`, then ILS is locked. Thanks for working on it.

[2015-05-25 03:03] MaicomMR commented on #56
+1 Nice idea

[2015-05-25 03:32] MaicomMR commented on #4
Only an idea, it would not be simpler initially create a basic software to read the coordinates of the mouse based on a scale of 80 (Km or Nm) follows two images concepts:
1st you need to crop an image background in a square shape corresponding to 80.
2. Next, you add the image in software and read the coordinates of your mouse, then just add the name and contact details on .json file.

1º - ![pas

[2015-05-25 04:59] MaicomMR opened #103 "Specific aircraft at certain airports. -help wanted"
Hello everyone.
I'm looking for an information, if there is how I restrict certain aircraft at certain airports?

I ask this in order that I am creating the "Domodedovo International Airport" (UUDD) and some Russian airline companies* and me a problem arose if I add arrival and departure of ACA UUDD airport, they will use all kinds of aircraft in fleet and that's basically unlikely, an A320 for ex

[2015-05-25 14:47] zlsa commented on #103
This isn't currently possible; short of changing the way the aircraft selection works, you could just create a new airline `aca-russia` that does not have any A320s.

[2015-05-26 06:35] MaicomMR commented on #103
Thanks for you answer.
I have more one question, can i make an thematic airport? for example, KJFK year 2000? But for this i will need create airlines ICAO2000.

I want this to see and control 727s, 737-200s, DC-8, DC-10, et, old planes :P

https://www.youtube.com/watch?v=qGpckXx56DU

[2015-05-26 14:41] oslego opened #105 "Error makes it impossible for planes to takeoff"
![screen shot 2015-05-26 at 3 35 26 pm](https://cloud.githubusercontent.com/assets/63899/7814964/7198e3d8-03bd-11e5-91e2-24a7f9a260f4.jpg)

Two planes on the runway (though the UI doesn't show them anymore).
Commands to takeoff are ignored. Looks like a JS error. Perhaps #19 could fix this.

[2015-05-26 18:59] oslego commented on #85
Likewise: `FIX [waypoint] [number]`

![screen shot 2015-05-26 at 7 58 44 pm](https://cloud.githubusercontent.com/assets/63899/7820668/ad7db440-03e1-11e5-900b-f0c381d5f362.jpg)

[2015-05-26 19:46] #85 closed

[2015-05-27 23:00] Wittner opened #106 "Reflect device which customer used on site"
Figure out how to capture device used by customer when making an enquiry - mobile, desktop, tablet etc.

[2015-05-29 18:51] zlsa commented on #106
I'm not sure exactly what you're saying here...

[2015-05-30 19:45] Wittner commented on #106
oh, sorry. This was meant to be an issue on one of my sites. Sorry, posted it here by mistake!

[2015-05-30 19:45] #106 closed

[2015-06-02 22:45] xenocide0 commented on #93
Got a working local branch of it, but not sure how to get it pushed up to GetHub.

[2015-06-02 22:49] avdg commented on #93
@xenocide0 Does this help? https://help.github.com/articles/set-up-git/

[2015-06-04 20:57] zlsa commented on #103
I don't see any potential issues with that, so go ahead.

[2015-06-05 15:52] sixeyeco commented on #92
Thank you, will do. I didn't want to bombard you with multiples. But I will do so in the future. I'll close this one and resubmit the ones that I think are still valid. Thanks again for an awesome game.

[2015-06-05 15:52] #92 closed

[2015-06-05 16:27] sixeyeco opened #108 "Select traffic loads"
<h4>A way to dictate the traffic load</h4>

I like to be challenged. If I load the game and there are only a few planes I  will reload it until there is as close to a full board as possible. I already use the speed control to increase the pace of the game so that really doesn't address it. Sometimes I have to load twenty or more times to get a heavy load. Not a big deal, I enjoy the game enough to

[2015-06-05 16:35] sixeyeco opened #109 "Flight strips are out of view with extremely heavy loads"
<h4>Ability to see more flight progress strips</h4>

Because I push the limits of the game I have, at times, had more strips than can be shown on my display (23 @ KMSP on my display). Obviously, if I can't the strips I'm unable to quickly identify its status or give it commands. This leads to forgotten or unheard taxi requests and wayward paths for approaching craft. I've tried selecting strips us

[2015-06-05 16:40] sixeyeco opened #110 "Two additional zoom levels"
<h4>Useful for extremely tight vectoring on approach. </h4>

Current zoom levels are good but greater zoom levels would be great!

[2015-06-17 11:13] AlexMcArrow opened #111 "Airport URL-load"
Add load `airport.json` by url.
Airport-url can store in `Localstorage`.
This makes it possible to upload airport without code changes.

Upd:
#113 Example - add for load in `modules.js`

Sorry for bad english.

[2015-06-17 11:28] AlexMcArrow commented on #29
I think it would be correct to do the following.
Make a point of several types (waypoint, point of rotation, the point of entry and exit)
- waypoint - just for travel
- point of rotation- just for travel, and, if the list is the latest way the plane, the plane begins to spin around her
- point of entry and exit - the point where the planes arrive and where it should fly for the correct care of the

[2015-06-17 11:46] avdg commented on #111
Hmm, it might be better to expose the data from the javascript code itself in a usefull way.
Adding localstorage generally doesn't guarantee the code is using that data live unless additional code is added.

But this issue (should actually be a separate issue) does me think somehow hore about adding a manifest for offline usage of the app like this: http://www.html5rocks.com/en/tutorials/appcache/

[2015-06-17 11:59] AlexMcArrow commented on #111
Store only url to file, and load file by url on init.

[2015-07-09 19:01] #75 closed

[2015-07-09 19:10] #84 closed

[2015-07-18 02:42] #88 closed

[2015-07-22 01:26] #74 closed

[2015-07-22 01:28] zlsa commented on #108
It is now, thanks to @tedrek: #120

[2015-07-22 01:28] #108 closed

[2015-08-01 08:19] tedrek commented on #110
Is this an issue with seeing the aircraft precise position, or is it due to the aircraft infoboxes overlapping and hiding the aircraft themselves?

[2015-08-01 08:22] tedrek commented on #109
On Ubuntu/Chromium43 I get a scroll bar on the strips when they grow larger than the visible display.

What are you playing on that it isn't making the progress strip area scrollable on overflow?

[2015-08-01 09:15] tedrek commented on #105
My understanding of the issue here is that there are two aircraft which were told to wait on a given runway.  At least one of them became visible on the runway and then disappeared again, the takeoff command is not followed for either aircraft.  After waiting at least 60 seconds no aircraft appears on the runway ready to take off.

I am unable to figure out a way in which aircraft can become 'stuc

[2015-08-03 21:17] #30 closed

[2015-08-03 21:18] #101 closed

[2015-08-07 05:15] akymakr opened #128 "Far from Tower Controller"
**We are just a Tower Controller, right?**
I have to clear an attitude, move the aircraft from the ground and the sky, and also clear some aircraft to land or takeoff? If this is a small airport ... OK but ... this is JFK, SFO and MSP! "Hire" someone to handle those OK? We just wanted to clear somebody to takeoff or land. Or we just want to line up some aircraft and then pass it to the Tower.

**T

[2015-08-08 21:14] glangford commented on #86
I have an experimental change to address this almost ready for review.

[2015-08-09 14:52] #86 closed

[2015-08-10 10:42] glangford commented on #13
A significant portion of the time to draw each aircraft - 60-80% using `console.time()` - is drawing the trailing position dots, not drawing the aircraft itself. This is because `canvas_draw_aircraft()` saves and restores context and recreates a custom `fillStyle` and a filled arc - for every single trailing dot for every visible aircraft. This is very slow. I will send a pull request with an idea

[2015-08-10 11:22] glangford commented on #13
The first picture is the existing aircraft trail, the second is a test of a much faster method (rectangles and fixed opacity).
<img width="346" alt="current trails" src="https://cloud.githubusercontent.com/assets/3035114/9170224/0cb7b996-3f2f-11e5-9f48-d2d4dc59debb.png">
<img width="457" alt="fast trails fixed opacity" src="https://cloud.githubusercontent.com/assets/3035114/9170225/1299cef8-3f2f-1

[2015-08-10 13:26] glangford commented on #13
And here is a picture of the fast method with variable opacity. Which is the best?
(EDIT: This can be drawn in 1/5 of the time compared to the current method)
<img width="617" alt="fast trails variable opacity" src="https://cloud.githubusercontent.com/assets/3035114/9172466/caaa9466-3f41-11e5-9073-d2b667570629.png">

[2015-08-10 19:42] joallard commented on #13
@glangford Nice. This last render looks really good!

[2015-08-14 17:24] glangford opened #132 "Draw projected aircraft path when selected"
One way to help plan aircraft movements is to see where an aircraft will go in future, based on the ATC commands that have been entered.

For example, in following multiple fixes:

![waypoints](https://cloud.githubusercontent.com/assets/3035114/9279590/890a7a60-4286-11e5-8be5-1c78253b06a9.png)

Or following a heading and landing (the track is brighter when ILS lock is expected to happen):

![landi

[2015-08-15 09:06] tedrek opened #134 "Defining radar scope vs. control scope"
Currently the radar scope is twice the airport ctr_radius or 160 km.  Altitude is ground level to infinity within that distance.  The current control scope is the same distance, with 10,000' being the maximum altitude assignable.

I was thinking of changing the control scope to be the ctr_radius laterally and 0-10,000' vertically.  Aircraft outside of the controlled airspace would not respond to r

[2015-08-15 13:01] glangford commented on #134
To make this work I think the spawn rates, positions and tracks for new aircraft would have to be retuned for each airport. For SFO for example, it is currently necessary to issue commands to distant aircraft for things like popping up randomly in the path of a takeoff runway. Also, traffic separation is currently not guaranteed outside of the control boundary, and giving new vectors very early he

[2015-08-15 14:57] zlsa commented on #132
This is awesome.

[2015-08-15 15:19] #132 closed

[2015-08-15 17:52] mdurao opened #135 "Aircraft Data"
Hello,

can you lead me the way to where you got the aircraft data you use in the simulator?

Thank you.

[2015-08-17 20:23] glangford opened #140 "Bugs in arrival and departure frequency handling"
In airport.js, the implementation of frequency for departures and arrivals is broken. You can confirm this for example by changing all of the arrival frequencies in `kdbg.json` to [1, 1], and seeing that arrivals actually occur more often than before. This is because frequency is not converted correctly into timeout periods.

Looking at `ksfo.json` and adding up all of the arrival frequencies give

[2015-08-17 20:29] zlsa commented on #140
That sounds right. It's been so long since I wrote it that I really don't remember much about how it worked.

[2015-08-17 21:04] tedrek commented on #140
This all makes sense, but the assumption that frequencies are in aircraft per hour is incorrect.

As currently written the frequency is specifying the minimum and maximum delay in minutes between aircraft being generated.  A frequency of [1, 1] would generate 1 aircraft every 60 seconds.  In other words it's minutes/aircraft instead of aircraft/hour.

KSFO for example has departure frequency as [4

[2015-08-17 21:33] glangford commented on #140
Ah, ok. When I saw frequency, I assumed that meant operations per hour, not delay. Thanks for the clarification.

Note that 109/hour is above the capacity of the actual KSFO airport (and way beyond what is playable by me anyway!), which is what lead me to think the "frequencies" were messed up in some way. "rate 0.5" is my friend.

I have never played for an entire hour at one go. I would probably

[2015-08-18 01:02] #140 closed

[2015-08-19 19:44] glangford opened #142 "Update KSFO fixes and airport geometry"
Currently KSFO has an incomplete set of navigation fixes, and some are not properly lined up with runways. To get an accurate position, lat/long for fixes should be used. Here are two screen shots showing the current KSFO, and a new version

![ksfo-orig](https://cloud.githubusercontent.com/assets/3035114/9366884/f62544c2-4687-11e5-8d06-b2eebc1d7002.png)

Proposed new version (not complete) - all f

[2015-08-21 18:32] #142 closed

[2015-08-22 17:29] tedrek opened #146 "Wind based scoring"
The current wind scoring doesn't differentiate between crosswind and headwind, resulting in headwind takeoffs at too great of an angle giving the surprising message of 'xxx taking off with a tailwind'.

The solution I was going to follow would be to score based on crosswind and headwind/tailwind separately.  Any tailwind over 1 knot (or some other value) would count as a windy movement, this allow

[2015-08-22 21:10] glangford opened #147 "Proposal to use standard terminal arrival routes (STARs)"
This is an enhancement proposal for introducing standard terminal arrival routes (STARs). All feedback is welcome.

### Basic feature

Currently, multiple fixes can be provided in a single command to instruct aircraft to follow a particular path. Often, the same sequence of fixes are typed for aircraft to follow before clearance for landing on an assigned runway.

Rather than typing “ {aircraft id

[2015-08-23 04:16] akymakr commented on #147
Great enhancement.
Few suggestions listed here: https://github.com/zlsa/atc/issues/128

Keep on good work!

[2015-08-23 06:36] tedrek commented on #147
I had been thinking of STARs as something which an aircraft is already on at the time it spawns as my understanding was a STAR would be assigned by the relevant center instead of a TRACON.  Therefore the aircraft would note which STAR it was on when it made initial contact and continue on that lateral path until told otherwise, our job as controller would be to just authorize altitude changes with

[2015-08-23 09:42] glangford commented on #147
In the real world, an aircraft may have already filed for a STAR in their flight plan, or ATC can add a STAR as it nears the airport. From a game play/simulation standpoint it might be boring to have the STAR automatically assigned, so I was thinking more along the lines of using a command. In this sense, it requires some problem solving and the game play is similar to today.

I am proposing a cha

[2015-08-23 10:08] glangford commented on #147
@akymakr On #128 - not everything is addressed, but have a look at the new KSFO. It has some new fixes and should be accurate.

[2015-08-24 16:42] glangford commented on #147
Here is an image of the updated KJFK, with some of the defined STARs overlaid; note that the routes begin well away from the actual airport, so the idea to attach a STAR at spawn time makes sense.

![new kjfk](https://cloud.githubusercontent.com/assets/3035114/9445977/083b667c-4a5d-11e5-875c-58b3a1f5bc14.png)

[2015-08-26 17:58] glangford commented on #146
I would definitely like to see a change here sooner rather than later; the "taking off with a tailwind" message when there is clearly a headwind is a bug.

"Aircraft manufacturers publish a tailwind component limit for both takeoff and landing in the AFM. In most cases, it is in the order of 10 knots but may be as high as 15 knots."

http://www.skybrary.aero/index.php/Tailwind_Operations

Some com

[2015-08-26 23:54] glangford opened #152 "Aircraft occasionally spawn with zero speed displayed rather than at the apron"
![spawns](https://cloud.githubusercontent.com/assets/3035114/9509303/e8884b62-4c2b-11e5-93d1-50e7e7f1a062.png)

(this is for a test airport created with only departures)

[2015-08-27 00:09] glangford commented on #152
Not sure what is happening, but I think it is caused by `aircraft.requested.runway` not being set properly. For new departing aircraft correctly displayed at the apron, it is set to something. For new aircraft with zero speed, it is blank (or null).

`updateStrip()` has the line:

[code]

Only if it is set will apron/ready display properly.

[2015-08-27 14:53] #152 closed

[2015-08-27 22:01] #146 closed

[2015-08-28 20:19] tedrek opened #156 "Balancing arrival/departure rates for realism and fun"
The current arrival and departure rates seem to be inconsistent between different airports.  This issue is trying to develop a set of guidelines for arrival and departure rates in the future, and a proposal to rebalance arrival and departure rates of existing airports to meet the needs of the community.

Currently difficulty scales with the aircraft rates, these have been historically chosen by wh

[2015-08-29 15:27] glangford commented on #46
KJFK and KSFO should now be accurate. KMSP is still left to do.

[2015-08-29 18:00] zlsa commented on #156
That all sounds great. The difficulty value was originally intended to be added after a bit of playtesting, since pure frequency isn't always a very good measure.

[2015-08-30 07:04] tedrek commented on #134
I absolutely agree, spawning would need to be tuned.  Likely departure would also need work to keep them from being vectored into an arrival.

[2015-08-30 12:27] glangford commented on #156
For the traffic levels at the airports which have been updated, we have different choices for sure: KSFO at 36/20 is slightly below average real traffic and 56% capacity. With the new KJFK levels in #144 with timing variation, 40/35 is right at average traffic but 88% capacity. Consistent with those numbers, KSFO is on the easy side and KJFK is more difficult.

Maybe each airport could have two bu

[2015-09-01 18:12] glangford opened #159 "Proposed changes to separation minima"
The current logic for checking separation detects whether two aircraft are both landing, and allows closer spacing. Otherwise, “standard” separation is enforced:

[code]

### Proposed changes to standard horizontal separation

1. The warning at “3 miles” horizontal separation I believe should be “3 *nautical* miles”. Converting to kilometres, 3nm = 5.6km

2. The notice will be issued at 4nm = 7.4k

[2015-09-01 18:25] #159 closed

[2015-09-02 19:56] zlsa commented on #135
I mostly read about the planes and assigned vaguely good-feeling numbers.

[2015-09-04 12:27] mdurao commented on #135
Thxs!

[2015-09-04 12:27] #135 closed

[2015-09-07 19:55] glangford commented on #46
With #168 which updates KMSP, I think this issue can now be closed.

[2015-09-08 00:07] #46 closed

[2015-09-08 14:46] glangford commented on #13
@joallard , @zlsa - With changes #131, #141, #149, #150 I can run now for an extended period without excessive heating or fan use (older Macbook Pro). If there are no objections, I propose this issue can be closed.

[2015-09-08 15:04] glangford commented on #3
Just as a status update on this issue: I have updated KSFO, KJFK and KMSP with precise lat/long for all runways and fixes including key points for STAR routes. See #143, #148, and #168.

Here are the most useful resources I used in case others would like to add new airports:
- airnav.com for runway endpoint lat/long and layout - e.g. https://www.airnav.com/airport/KSFO
- flightaware.com for airpor

[2015-09-08 17:21] joallard opened #170 "Collision on landing fills screen with messages, deducts ~5000 pts"
I think I set two planes to land face to face on the same airstrip. Needless to say, -5000pts is a little heavy for a penalty.

[2015-09-08 17:27] joallard commented on #13
I'm clocking in at 1.5% CPU usage. Good job.

[2015-09-08 17:27] #13 closed

[2015-09-08 17:29] joallard opened #171 "How do landings/ILS work?"
Since I've been playing from the beginning, I've never understood clearly how ILS worked. Sometimes I will activate it, and it won't find the lock and I will have no idea why. May we have a primer or maybe some explanation about how it works?

[2015-09-08 17:32] zlsa commented on #171
For ILS to lock, you must be within 10 degrees (I think) and within the distance of the faint line extending from the runway.

[2015-09-08 17:47] joallard commented on #171
Are those bugs?
<img width="193" alt="screen shot 2015-09-08 at 13 42 42" src="https://cloud.githubusercontent.com/assets/949482/9742730/0a0eee18-5630-11e5-943a-b1f0bc5862cf.png">
<img width="247" alt="screen shot 2015-09-08 at 13 45 27" src="https://cloud.githubusercontent.com/assets/949482/9742736/0f349cbc-5630-11e5-87f0-d6594ea2cc25.png">

Sometimes the plane will trace a path to go on the fain

[2015-09-08 18:14] glangford commented on #171
Try to be at 6000' elevation or so. In the second picture , KLC806 is at 8000 and you won't get ILS capture there.

[2015-09-08 18:33] glangford commented on #171
Picture a radio beacon pointed up at 3 degrees into the sky; that creates the glideslope. The end of the faint line is the maximum distance you can acquire the ILS. At that point or closer, if you are within 10 degrees of the extended runway line and pointed in that general direction AND not too high, you will lock.

Try KSFO for example at 6000' feet at MEHTA, or 4000' at DUMBA.

[2015-09-08 18:36] joallard commented on #171
Okay. Does that mean an aircraft at 8000 will be able to lock but just farther? I'll try that next time, though not today because the game gets addicitive ;o).

I think what I'll try to do is test some cases and bounce them here, and document the wiki based on what's said here.

[2015-09-08 18:52] glangford commented on #171
No. 8000' is too high, and the ILS signal (for game purposes) won't lock - the faint line extending from the runway tells you the maximum distance you have. If you are at 6000' or 7000' at the end of that line, you are in good shape.

In the real world of course, the ILS radio signal only travels so far and the game reflects that.

[2015-09-08 19:17] nielsvdweide opened #172 "Proposal to stop spawning new aircraft."
I don't know if someone could implement this in the current game, but i would like to propose a button which temporarily stops the spawning of all aircraft, so you can keep up with all the aircraft coming up on the radar. My experience in some airports is that too many aircraft spawn and i can't keep up with the huge amount of traffic coming in.

I would like to propose a button which currently st

[2015-09-08 19:33] tedrek commented on #172
It can be done, but I don't know when.  In the mean time you can reduce the rate of aircraft spawning using the rate command.  For example typing `rate 0.5` would make aircraft spawn at half of the normal rate, you could go down to something like `rate 0.1` to really cut down.  To go back to the normal rate type `rate 1`.  You can also make more aircraft spawn by using numbers large than 1.  I'm n

[2015-09-08 19:45] nielsvdweide commented on #172
Thank you for the quick response. I didn't know about the rate command so thank you very much for that.  I don't know much about HTML5 or even scripting, but i am known in the world of aviation and also communications with air traffic control. I am a pilot so i tend to know some stuff.

Anyway, i really enjoy playing this game. It is so addictive and a really good memory and multi-task trainer! Th

[2015-09-08 20:11] joallard commented on #171
Okay. What about my first screenshot? Why wouldn't the aircraft lock in that case? And as I understand it there is no minimum distance?

[2015-09-08 20:22] glangford commented on #171
I can't tell from the picture.

Not that I am aware of, but from a practical standpoint of course you have to keep descending the closer you get to the runway.

The best recommendation I can make is to get the actual approach charts for the airports you are interested in. Here is KSFO 28L for example; be around DIVEC at 7000 pointing in the general direction of the runway and you are good to go:

[2015-09-08 20:52] tedrek commented on #171
The issue with both pictures is that the aircraft is too high for how close it is to the runway.  The ILS range at EHAM is reduced on half of the runways from the default of 40km to 28km, therefore to get an intercept you need the aircraft to be at about 5,000 feet or less at the outer end of 36c and 36r.

My rule of thumb has been to vector for an intercept at 4 to 6 thousand in the outer third o

[2015-09-08 20:58] nielsvdweide commented on #171
Tedrek is correct. For both pictures the aircraft is too close to the runway to lose it's current height and make a stable approach to landing. Keep in mind an airplane also needs to slow down the last bit of the approach. I normally clear aircraft to 4000 or 5000 feet at the end of the extended centreline and that always works!

The thing with ILS is that it gets more sensitive the closer you get

[2015-09-08 21:18] glangford commented on #171
Good stuff @tedrek and @nielsvdweide - I didn't recognize that the picture was from EHAM.

For what it's worth, here is the chart for EHAM 36R. According to that, being at 3000' for fix NV is the approach, which is consistent with the recommendation at 4000' or 5000' at the end of the centreline. (Maybe we should embed this in small print at the end of the runways?)

![eham 36r](https://cloud.gith

[2015-09-08 21:46] nielsvdweide commented on #171
I don't know where you got that chart for EHAM 36R from, but i will upload an approach plate used by pilots for that same runway! I think it is okay to use your graph and to see at what distance you should be at what altitude but that's not the way ATC does it. Normally atc lets you intercept the ILS from below, let's say from 2000 feet, as you can see in this picture below. You can see that at 6.

[2015-09-08 22:14] glangford commented on #171
Ah, that's a much nicer chart. It's good that the information is consistent!  :-) I am not in Europe so I just downloaded the first good looking item I could find from a search engine, which was at ais-netherlands.nl.

[2015-09-08 22:21] nielsvdweide commented on #171
Ais-netherlands.nl is a generic website with all the information regarding dutch airspace and airports. I don't think they include all the approach plates and charts for airports. This plate is from jepessen, where most airliners fly with. They use these kind of plates to prepare for the approach. I will include the full picture for you, so you can take a look at it. Note that the procedure on the

[2015-09-08 22:30] glangford commented on #171
Excellent, thank you @nielsvdweide !

[2015-09-08 22:37] nielsvdweide commented on #171
No problem! I have some ideas in my mind I will upload tomorrow when I have some spare time. I'm not known to github or scripting, I leave that to other guys! I like this project and maybe I can help improving it :) anyway, have a good nights rest!

[2015-09-09 08:16] tedrek commented on #170
I tried to duplicate the bug but couldn't get two aircraft to collide on landing, I did manage to get two aircraft to hit each other more than once though.

Looks like there is an issue with hits not changing the aircraft state properly, perhaps to do with runway tracking.  I'll try to look at it in the next couple of days if somebody else doesn't get to it.

[2015-09-09 12:13] glangford commented on #170
I also tried to duplicate the bug but was unsuccessful.

I looked through the code with that thought in mind. Here is a pathological case to consider; _3_ aircraft in close proximity, _all below 1000'_. Call them `this`, `other1` and `other2`.
- In `updateWarning()`, `this` and `other1` are landing face to face on the same airstrip and a warning is generated. `this.warning` is now true.
- Going th

[2015-09-09 13:27] Maverick283 commented on #147
In real life, following STARs the pilots will usually continue flying a so called **"Transition"**. This brings them from the ending waypoint of the STAR onto the Approach in use (this doesn't mean one approach per STAR, as STARs are usually used to bundle aircrafts descending to an airport from one direction. It rather means after a STAR, any transition beginning at the ending fix of the STAR can

[2015-09-09 14:11] stijnsanders commented on #3
I'm not sure if they would make a good fit for this game, but the thing with airports like [SXM](https://en.wikipedia.org/wiki/Princess_Juliana_International_Airport) and [HKG](https://en.wikipedia.org/wiki/Kai_Tak_Airport) is that take-off and landing parameters are to be taken pretty serious as to not slam into the mountain and things..

[2015-09-09 14:12] glangford commented on #147
Thanks @Maverick283 , very much appreciate the comments -

I was aware of the STAR+transition, but was hoping (perhaps incorrectly) that for simulation purposes we could start with a simplified version:
- no version number in the STAR (eg. PAWLING instead of PAWLING2)
- a STAR is defined initially anyway as an ordered set of fixes, without the notion of transition (eg. PAWLING2 ends at DPK)

Perha

[2015-09-09 14:17] glangford commented on #3
Indeed, the climbout at SXM better include a right turn.  :) Not sure we are at that point for simulation purposes yet!

[2015-09-09 14:24] Maverick283 commented on #147
Yeah, the version number of the STAR is certainly not necessary.

The command line sounds awesome,  though it'd be hard to get the airplane on a interception heading from for example the ROBER STAR. This is obviously where the LAND command could not be included (I don't like that STAR anyway, no idea why they created that one^^).

Color sounds great, but wouldn't having them fly the same direction

[2015-09-09 14:53] glangford commented on #147
Yes, that's the point (since it is a simulation)  :-).  I don't know if this is necessarily the best approach, but the current behaviour is that after a fix is reached, the aircraft continues on.

[2015-09-09 14:58] Maverick283 commented on #147
It is, though I personally (personally is the important word here!) find it rather confusing as when I forget about one plane and it flies straight I cannot re identify it with the plane I sent to that fix.
I guess for simplicity and as you say as it is "just" a simulation that will work ;)

[2015-09-09 15:08] Maverick283 commented on #56
A animation could be added for every time the score changes. I'm thinking of that typical "+5 points" animation (Will post a picture if I finally find one) where a text could be added that sums up why the points where gained/lost. Like "Used inactive Runway: -5".

[2015-09-09 15:15] Maverick283 commented on #4
I'm not keen on JavaScript, but I could start a java program to include airports from a database of a flightsim program... Not sure if or how much that would help, but it just might.

Also, I think a airport editor for developers might make sense (that as well I could write with java) where you input real coordinates and convert them to the game coordinates (which I assume from the picture above a

[2015-09-09 16:23] tedrek commented on #170
Nice work, so here is a test case which shows the issue:
- Line up two aircraft on parallel runways for takeoff (`xx1 w 36l c 1`, `xx2 w 36r c 1`)
- Line up a third aircraft at the opposite end of one runway (`xx3 w 18r c 1`)
- Once all are lined up order all to takeoff (`xx1 to`, `xx2 to`, `xx3 to`)

I don't have time for a fix right now, so don't assign aircraft to opposite ends of the same runw

[2015-09-09 16:58] glangford commented on #170
At first glance I don't see how to quickly fix this either. It does seem like a major pain to keep state for each pair of aircraft, hopefully we can find something simpler - even if it means some warnings are masked.

One thought might be to assign an expiry timestamp to each warning - so if aircraft A has a warning issued with aircraft B, it will persist for some number of game ticks. That gives

[2015-09-09 17:30] joallard commented on #170
What if instead of tracking `this.warning` as a boolean, we made it an array with other aircrafts?

[code]

[2015-09-09 18:04] glangford commented on #170
Sure that is possible, but given that the vast majority of aircraft will not be in conflict with others, and should be relatively infrequent, I was thinking of less complexity.

[2015-09-09 18:55] joallard commented on #170
Correct me if I'm wrong, but most aircraft will never enter the warnings collection.

[2015-09-09 19:01] glangford commented on #170
Absolutely true, sorry for not being clear - I should have said I was thinking of less _code_ complexity, given that most aircraft will never have warnings. So the extra code does not really deliver a better user experience.

[2015-09-10 01:09] zlsa commented on #4
Something like that is already implemented - you can use coordinates in the format ["N30.0", "W120.0"] if you set an airport center in latitude and longitude as well.

[2015-09-10 05:04] tedrek commented on #170
I've got a fix to the pathological case as #173.  It's still got the issue of masking other warnings but as you've pointed out that should be quite rare.  In fact the only real draw back in game terms at the moment is not alerting to another runway collision and the associated scoring event.

The  thought I had for keeping state between aircraft pairs was that the current system calculates both th

[2015-09-10 12:05] #172 closed

[2015-09-10 12:34] nielsvdweide opened #174 "Multiple Suggestions: 1) Holding 2) Routes between fixes 3) Select all airplanes"
Hi there! I have got a couple of suggestions to make this atc simulator a bit more real so let me know what you think.

1) Holding patterns.
At this point, when you send an aircraft into a hold it will just circle either left or right. In commercial aviation a hold consists of a 180 degree turn, then 1 minute outbound, then again a 180 degree turn and another 1 minute leg. They make this 1 minute

[2015-09-10 15:20] glangford commented on #174
Good thoughts!

I don't have time to dig into these into the short term, but like your ideas. The "correct entry for holding" aspect is a bit messy as you know.  :)

(One suggestion for the future - in general, when proposing different enhancements it's good to create a separate issue for each. Then separate conversations about the advantages, disadvantages etc. can be tracked in one place, and wh

[2015-09-10 22:21] Maverick283 commented on #174
1) I like the hold idea! There is a clear rule for hold entries, and as this is a simulator I think the fact that most planes will not fly a 1 minute outbound leg due to wind can be dropped. (How does wind affect flying aircraft anyways?).

2) If the aircraft has an FMC, then it will most likely have the fix at the tip of its turn, still flying not a direct line from one fix to the other. If the a

[2015-09-10 22:24] Maverick283 commented on #4
@ZLSA not quite sure what you mean.
Are fixes, arrivals and departures and so on included in that implementation as well? My thinking was of a wizard kind of thing, that would guide you through creating a whole .jason file for one airport.

[2015-09-11 04:32] tedrek commented on #4
I think zlsa was pointing out the conversion from Lat/Long to offsets is no longer necessary as the .json can have Lat/Long directly in them now (assuming a center location is defined).  As an aside, horizontal locations in the game code are specified in km not miles (but altitudes are in feet, because... reasons :wink:).

[2015-09-11 17:15] nielsvdweide commented on #174
@Maverick283

1) What do you mean with most planes will not fly a 1 minute outbound leg due to wind? That's what a hold is all about. A hold consists of two turns and two legs of straight flying corrected for the wind. This will be 1 minute plus or minus 1 second for each knot of headwind or tailwind. So if you have 15 knots headwind you will fly 1 minute and 15 seconds on the inbound and then on

[2015-09-13 18:36] Maverick283 commented on #174
@nielsvdweide

1) The hold is about flying a one minute inbound leg. No in order to achieve that with wind you will need a longer or shorter outbound leg (as wind is hardly ever 0 up there). But I believe this difference can be ignored for the simulation at this stage. (And the parenthesis question was for the programmers: How does wind affect airborn aircraft in the simulator)?

2) Well, that is

[2015-09-13 18:42] nielsvdweide commented on #174
@Maverick283

I agree on number 1 that wind can be ignored in holds. I don't know what wind does to aircraft in-game but i think that it doesn't really apply. I have never "observed" aircraft flying faster with a tailwind. I think it only applies for scoring but i'm not really sure.

2) I can understand! It's just the way our instructor told us! I don't think there is a way or rule about it, it's

[2015-09-13 23:01] Maverick283 commented on #174
@nielsvdweide  Well I like the idea of number 3 a lot, but I'm not the one programming here... I'm rather a person that just started to add ideas and I give suggestions base on my real world flying experience. Maybe you should start a new issue with number 3 only, and get rid of our discussion here (and either save the other two ideas for later or just make another 2 issues) so that the programmer

[2015-09-14 08:38] nielsvdweide opened #175 "Select all airplanes."
I would like to implement a way to select all airplanes. This way you can see what every airplane is doing and if they are going to cross each other. I came across this when i type in a letter some airplanes will be selected including a picture of where they are heading and going. I would like to add a command which shows the path of all airplanes! We could use the word "all" to highlight all airp

[2015-09-14 08:39] nielsvdweide commented on #174
@Maverick283 I made another issue for number 3. We can discuss over there about that. I've saved the other 2 items for a later moment. thank you!

[2015-09-14 11:10] Maverick283 commented on #175
As STARs and thus routes are about to be implemented, a line following the whole path of the route each airplane takes would be a great help in figuring out where each aircraft is going, as STARs are assigned by the system rather then the user.

[2015-09-16 13:20] nielsvdweide commented on #175
Any programmers that can implement this?

<img width="1911" alt="schermafbeelding 2015-09-16 om 15 23 10" src="https://cloud.githubusercontent.com/assets/14002770/9905843/a521b022-5c87-11e5-83e9-a1bfa375841a.png">

As you can see now all airplanes have been selected :)

[2015-09-16 13:40] glangford commented on #175
@nielsvdweide - I like the idea, I hope to have some time to look into it.

[2015-09-16 14:42] glangford commented on #175
How do you feel about a small change to this feature? Instead of the word "all" as a distinct command, how about typing asterisk ("*"), without having to press return/enter? This is very easy to implement, and selects all airplanes with less typing.

[2015-09-16 14:56] glangford commented on #175
@Maverick283 - good idea. Note that this could be useful even before STARs are implemented, since a series of fixes can be assigned today by providing multiple fixes in one FIX command. Can you open a separate issue to track this?

[2015-09-16 18:56] nielsvdweide commented on #175
@glangford You could use any command! It doesn't really matter what it is! Typing "/ " for instance does the same and is easy to reach on the keyboard too! I think that it's important to pick a command which is easy accessible on the keyboard.

What do you mean with: "Note that this could be useful even before STARs are implemented, since a series of fixes can be assigned today by providing multip

[2015-09-16 19:21] glangford commented on #175
I was responding to the comment made by @Maverick283 requesting a line following the whole path of the route. Today you could type

**BAW123 FIX a b c d e**

So the future track line could reflect the scheduled fixes.

[2015-09-16 19:24] nielsvdweide commented on #175
Ah thank you! Maybe we could even implement this in the screen at the right hand side. Now it only says the fix where the aircraft is currently navigating to. Maybe with a smaller text we can add the entire clearance/route?

Btw, are you currently working on this?

[2015-09-16 19:48] glangford commented on #175
This shows how it could look:
![extended track](https://cloud.githubusercontent.com/assets/3035114/9916412/33a45294-5c8a-11e5-8210-7854700d875c.png)

[2015-09-16 19:50] nielsvdweide commented on #175
@glangford Very very good! The solid red lane is a specific time length right? Do you know in what time the airplane travels the solid line in all game speeds?

[2015-09-16 19:55] glangford commented on #175
I have submitted a change to implement "select all airplanes" and am working on extending the display of the future track.

The solid red line is a specific time length, which is the same time period for all aircraft. If one plane is travelling faster, the solid portion will be longer. If you speed up the game, the solid portion doesn't change, time is just accelerated.

I will test this combined

[2015-09-16 19:59] nielsvdweide commented on #175
Great work! I know about the specific time length and that they're equal to all aircraft! I would like to know how long the line is. For instance at speed x1 the line means 1 minute and at speeds x5 the line means 15 seconds. Something like that!

I would love to see this implemented :)

[2015-09-16 20:04] glangford commented on #175
Hmmm... good question! The solid line represents 60 "ticks" but I'm not sure what that represents in real time (I don't know that part of the software).

[2015-09-16 20:07] nielsvdweide commented on #175
Ah okay! Thank you for explaining! Does your submission need approval from zlsa before being implemented? :)

[2015-09-16 20:12] nielsvdweide commented on #175
I've seen you are implementing this when you type in an Asterix. So you have to hold shift and 8 to type this. I think it is better to change it to for example: /

Much easier accessible on the keyboard

[2015-09-16 20:17] glangford commented on #175
Yes, all submissions must be approved. Asterisk is the wildcard character often used in matching, so my vote is to use that  even though you have to hold shift. (It's still shorter than "all".  :-) Here is what the two features combined look like at the moment; note that overlapping dashed lines look a bit different:

![combined all aircraft and fix tracks](https://cloud.githubusercontent.com/asse

[2015-09-16 20:19] nielsvdweide commented on #175
Ah i see where you are going! Thank you! Is there a way i can test this myself? :)

[2015-09-16 20:34] glangford commented on #175
Not yet, hopefully coming soon!

[2015-09-16 20:42] nielsvdweide commented on #175
Cool! Thanks :) Are there any other things you are working on right now?

[2015-09-17 04:07] tedrek commented on #175
@nielsvdweide, how would you like to see the projected paths for all aircraft all the time as opposed to just when there is a \* in the command box?

[2015-09-17 07:05] nielsvdweide commented on #175
@Tedrek what do you exactly mean with that? @Glangford made a fix for this and he shows a red dotted line instead of a solid one and I'm quite happy with that.

[2015-09-17 08:07] tedrek commented on #175
@nielsvdweide, there are three different possibilities which we are talking about for the paths.

The existing one which shows the path for the 'current' plane.
The `*` one which temporarily shows the path for all planes.
And the third one where all planes show their path all the time, this is the option I was asking about.

Probably the best way for the third way to work and what I'm suggesting,

[2015-09-17 09:38] nielsvdweide commented on #175
@tedrek Thank you for your explanation.

I love the effort you put in to this. Personally, implementing this feature rocks but adding new features that will even upgrade this would be awesome. This drop-down menu including different options regarding aircraft drawings will add a great value to the game.

For the lengt of the projected path; Currently it is 60 game-ticks which sometimes works for m

[2015-09-17 10:07] nielsvdweide commented on #147
This is something that needs to be added as soon as possible! It makes much more sense to give these clearances!

[2015-09-17 11:58] glangford commented on #175
@tedrek - the option dialog idea is brilliant. Not sure what different things should go in there, but I had a quick look at t-options-dialog and it looks great. For me - in terms of variable settings, I probably would not change the length of the projected path.

It is an extension to the projected track. The projected track would be drawn in two steps (1) solid line representing 60 ticks (2) dash

[2015-09-18 15:23] MaicomMR opened #178 "Airport "background""
Hello everyone,

I'm doing some vectors of airports and checking how they look in photoshop, it would be possible to implement ".png" images about the game? It is compatible with the zoom?

Below are three tests that I created (in photoshop)

![SBGL](http://i.imgur.com/TO4olnV.png)
![SBGR](http://imgur.com/WFXhULy.png)
![EHAM](http://imgur.com/n7Sltdl.png)

[19 sep 2015 - Edited images format]

[2015-09-18 19:09] nielsvdweide commented on #178
I like these! Maybe we can add geographical lay-outs as well!

For example EHAM: (This is the way atc-sim does it:)

![b9umejsciaiqq1x](https://cloud.githubusercontent.com/assets/14002770/9968580/8a524356-5e49-11e5-89d0-92d9502b7b9c.jpg)

[2015-09-18 21:49] #175 closed

[2015-09-18 23:42] Maverick283 commented on #175
@glangford Thanks for opening and taking care of that, I have not had time to respond yet!

[2015-09-18 23:48] Maverick283 commented on #178
Well the only issue I see is that when you show a ground layout, you kind of have to make the planes taxi somewhat on taxiways to make it somewhat good.

I think in general some geographical information would be nice, yet @nielsvdweide this is not atc-sim.com. Simply trying to reprogram atc-sim.com would fail the purpose of implementing an other atc simulator. So instead of copying this from atc-s

[2015-09-19 07:58] nielsvdweide commented on #178
@Maverick283 I agree that airplanes should taxi on a ground layout if available. Then, we can also add hold short commands for airplanes. Now, we let them taxi and they straight taxi onto the runway.

General geographical information is nice and I understand this is not atc-sim.com. I only wanted to show the way they do it, not suggesting we should re-create this. It was just to give a general ide

[2015-09-19 17:42] glangford commented on #175
Everything is up live now, check it out.

ps. @nielsvdweide - I know you are not the first pilot in this video.   :wink:

https://youtu.be/MroI44p4npA

[2015-09-19 19:12] tedrek commented on #178
First off, the taxiways look very good. Having some sort of a background image for the radar screen makes sense and I would be interested in implementing a single .svg background for airports/radar.

.png files will not work with the zooming feature but .svg files should be possible.

Having aircraft taxi on the taxiways seems to me unlikely to be implemented any time soon.  It would require a lot

[2015-09-19 20:09] MaicomMR commented on #178
I believe the management of the entire taxi system become much more complex game (maybe even more complex than it should be), when I presented the idea was just to have a background when atingice a certain level of zoom.
I have the image in the .svg SBGR, I personally vetorizei all runways and taxiways,

I loved seeing that contributes to the beginning of a new discussion, hugs.

my .svg, free to

[2015-09-20 21:07] glangford commented on #174
I am just researching number 2 (routes between fixes) - assuming this is implemented, is it safe to assume for simulation purposes that every fix/waypoint can be a fly-by waypoint vs. flyover?

[2015-09-20 21:32] nielsvdweide commented on #174
i think so, yes!

[2015-09-21 00:42] glangford commented on #174
Here is a test:

![turn initiation](https://cloud.githubusercontent.com/assets/3035114/9983780/0a9b4582-5fd8-11e5-8b42-f84611f717a0.png)

[2015-09-21 01:41] glangford commented on #174
Here is an image showing a similar RTM-STD turn with new physics; it's a 140 degree change in direction, which is started about 6.4km before RTM. Does that look about right?

![rtm-std](https://cloud.githubusercontent.com/assets/3035114/9984125/3219ea8e-5fe0-11e5-91f4-c82b440f9df4.png)

[2015-09-21 08:53] nielsvdweide commented on #174
Looking really good @glangford 😊

[2015-09-21 17:04] nielsvdweide commented on #174
@glangford is this ready for use? :+1:

[2015-09-21 17:07] glangford commented on #174
@nielsvdweide - not just yet, still some testing to do.

[2015-09-21 17:12] nielsvdweide commented on #174
@glangford cool! Would love to use this :)

[2015-09-21 17:16] glangford commented on #174
@nielsvdweide - while you are waiting, you can study
http://www.ohio.edu/people/uijtdeha/ee6900_fms_00_overview.pdf

slides 48 and 49 for the upcoming quiz. :smiley:

[2015-09-21 17:17] nielsvdweide commented on #174
@glangford haha no thank you! I've finished my atpl theory long ago :smile:

[2015-09-21 19:07] nielsvdweide commented on #174
@glangford I want to try to make an airport but I have no experience with github at all! Where do you program and most important: where do you test it? I didn't find a place where i could contact you in private!

[2015-09-21 19:10] zlsa commented on #174
@nielsvdweide, you can just clone the repository and run a local copy. If you're on Linux, you can use `python -m http.server` in the same directory as the source code (i.e. the directory with `index.html`), but I'm not sure how to do that on Windows/Mac.

You can just test the airport yourself locally, but the format has improved a lot recently thanks to @tedrek and @glangford's work, so the wiki

[2015-09-21 19:51] glangford commented on #174
@nielsvdweide , in addition to @zlsa 's comment you can run on Mac (and I assume Windows) by simply  opening your local copy of index.html in the browser. To see examples of airports you might follow, see the format of KSFO.json or KJFK.json as examples. If you have any other questions, just post here.

[2015-09-21 19:52] nielsvdweide commented on #174
I'm taking little steps but i'm getting there! Is there a small delay between updating files and showing it if i'm testing it? @glangford @zlsa

[2015-09-21 19:54] glangford commented on #174
The files won't reload automatically when you update them, so restarting the browser after updating is the way to go.

[2015-09-21 20:12] tedrek commented on #174
I have ran into issues with the browser caching .json files.  I personally use chromium on linux and use a new incognito window to test changes to the .json files.  (I also have a local instance of nginx running as my web server).

Feel free to create a pull request asking for feedback on any aspect before you are ready for it to be merged.  This way we can have a discussion over code pieces in qu

[2015-09-21 20:34] MaicomMR commented on #174
@tedrek I use Firefox on windows, the Google Chrome freeze on loading.

[2015-09-21 20:36] nielsvdweide commented on #174
@glangford @tedrek I am good with testing my new airport at the moment. Is there a fast way to calculate where to put waypoints according to charts? (maybe even GPS coordinates or certain radial/dme?)

[2015-09-21 21:31] glangford commented on #174
I used opennav.com for most of the fixes/waypoints, and used the lat/long in the airport .json.

[2015-09-21 22:16] MaicomMR opened #180 "[SLOVED] GitHub Fail to sync"
Hi everyone,
sorry about my noob question, but I have a little trouble with github pull request, I call the pull request and receive this messages.
![fail01](https://cloud.githubusercontent.com/assets/12571488/10006627/2787e854-6095-11e5-8c25-bfb1b4759c4d.png)
![fail02](https://cloud.githubusercontent.com/assets/12571488/10006628/278b19b6-6095-11e5-95f9-707a3806e9ad.png)

Someone who happening?
So

[2015-09-21 22:29] nielsvdweide commented on #174
@Glangford opennav only provides me with coordinate data in minutes and seconds, for now converting those to decimals is fine! I've drawn the runway for now and a FAF which should be exactly in front of the runway, but it's just of the centerline. I will continue tomorrow!

For your interest; I'm making EDDN; Nurnberg

[2015-09-21 22:29] zlsa commented on #180
I have no idea - I don't use the Windows client. However, it looks like you're trying to push directly to my repository, which isn't possible - you'll have to make a pull request, modify your copy, then push that to your repository, _then_ open a PR back to mine.

[2015-09-21 22:30] zlsa commented on #174
You can open the settings for the developers console and check "Disable cache (while DevTools is open)". After that, keep it open and press Ctrl-F5 (or hold down the Reload button and select the Hard Reload option). Both of those have worked perfectly for me.

[2015-09-21 23:08] glangford commented on #174
Here is a trick to save time; as you are doing EDDN, if you look at the ERTES2T arrival for example, it has fix "DODAS". Rather than converting to decimals by hand, google "opennav dodas". You will see on the search results page that google has done the conversion, you can simply cut and paste.

[2015-09-22 00:03] tedrek commented on #174
For coordinate data the code takes three formats:
- Decimal degrees - 'N47.112388112'
- Decimal minutes - 'N38d38.109808'
- Decimal seconds - 'N58d27m12.138'

You can also use the degree symbol instead of d, or a single quote instead of m or a space instead of either.  I did it this way precisely because opennav showed degree/minute/seconds but another source I was using was decimal degrees.

[2015-09-22 02:22] MaicomMR opened #182 "Suggestion ILS locked color"
Hi all, today I play and see a little problem on the colors of the "ILS Locked" with the airplanes ready to departure, for the two are blue I sometimes confounded the lockados with ready to leave. I thought I'd suggest a different color for the lockados, created an example with green.

Now - ![sbgr_ils_color2](https://cloud.githubusercontent.com/assets/12571488/10009728/8721b278-60b7-11e5-9be8-b48

[2015-09-22 11:11] Maverick283 commented on #182
I think that's a great idea!

Before everyone goes out color smashing now, a word of warning though: Keep in mind there are color blind people, or people with a color deficiency out there. While this suggestions still looks to me (I do have a color deficiency) it might already be hard for someone else to tell which one is green and which one is red, or even which one is green and which one is blue

[2015-09-22 11:32] vfrico commented on #182
And, how about adding an option and put the text in italics or bold instead of changing the color?

[2015-09-22 15:05] nielsvdweide opened #184 "New airport: EDDN"
Currently, I'm busy with adding a new airport: eddn. (nurnberg) It's a single-runway airport in germany! I've added most of the fixes for the airport now and i'm still busy with tweaking departures and arrivals (any tips on this?) I would also like to implement SIDS and fixes for the places where departures need to go. (As the departure destinations are quite sketchy i think)

<img width="1913" al

[2015-09-22 16:37] #180 closed

[2015-09-23 02:11] MaicomMR commented on #184
Hey @nielsvdweide how do you make the waypoints coordinates? I'm looking for a more pratice and precise method.

[2015-09-23 15:31] glangford opened #185 ""Leaving radar coverage" bug when navigating to a fix"
The message "leaving radar coverage outside departure window" was given for UPS 624 pictured below; it is supposed to fly to LOCKE as the dashed line indicates, but it suddenly changed direction (uncommanded) as the message was generated.

This is likely triggered by UPS 624 reaching 10,000 feet.

It looks like a bug in aircraft.js `crossBoundary`; departing aircraft are automatically switched to

[2015-09-23 17:06] tedrek commented on #184
If you are using real world waypoints/fixes, you can use the latitude and longitude directly.  Make sure to set the reference coordinates on the airport.

[2015-09-23 17:32] tedrek commented on #185
That is expected and intentional behaviour for the code as written.  I'm not saying it's the correct behaviour for the game.

The intent with the radar coverage change was to reduce the controlled area to a defined cylindrical volume of air space with a ceiling.  The relevant change here is that you can clear an aircraft to 11,000 as an implicit handoff to the sector above you.  Once an aircraft l

[2015-09-23 17:42] glangford commented on #185
Alternately - it sounds like we can just clear them to 10,000 until they leave the horizontal airspace, and this issue wouldn't occur?

[2015-09-23 18:38] tedrek commented on #185
That is correct, clearing to only 10,000 will keep them within the controlled area.

The issue I'm suggesting needs fixing here is that allowing aircraft to depart via climb is not likely to be intuitive and will be surprising to a number of players if it hasn't been brought explicitly to their attention.

[2015-09-23 20:13] nielsvdweide commented on #184
@MaicomMR

For coordinate data the code takes three formats:
Decimal degrees - 'N47.112388112'
Decimal minutes - 'N38d38.109808'
Decimal seconds - 'N58d27m12.138'
You can also use the degree symbol instead of d, or a single quote instead of m or a space instead of either. I did it this way precisely because opennav showed degree/minute/seconds but another source I was using was decimal degrees.

T

[2015-09-23 20:27] MaicomMR commented on #184
Wow, that will greatly facilitate my life in the future will retrace weypoints the SBGL and SBGR,
thanks @tedrek and @nielsvdweide

[2015-09-23 20:34] nielsvdweide commented on #184
It only works when you have the entire airport layout in coordinates: so the center of the radius as well as all the runways! I'm currently working on a little fix of EHAM @MaicomMR

[2015-09-23 22:29] Maverick283 commented on #185
What if, as soon as an aircraft is above 10,000 the altitude and speed are not displayed anymore but instead a text saying "leaving control zone" or "handed off" or whatever comes to mind (it's late here, can't think of a proper english phrase right now).

This way the player would know what is going on, and why the airplane is not doing what he told him to do (and maybe even doesn't respond to an

[2015-09-23 23:38] tedrek commented on #184
It should work with a mix of offsets and co-ordinates (in any of the formats).  The only requirement is that a 'position' is defined for the airport itself to denote the center of the radar scope.  I don't suggest making anything new with mixing things, but you can certainly update existing ones in stages.

[2015-09-23 23:44] tedrek commented on #185
I'm considering it from the point of view where a player either doesn't know about it or accidentally assigns a higher altitude.  In both cases by the time they realize something is wrong there isn't anything they can do and there is no real warning before hand.  Updating the data block to show what has happened is a good way of explaining what has happened though.

[2015-09-24 00:57] glangford commented on #185
Here is another interesting wrinkle: if an arriving aircraft spawns with the controlled area, yet leaves to navigate to a fix which is just outside the control area, the aircraft loses the fix and flies away.

I think the fix for this is to never have aircraft spawn directly within the control area.

[2015-09-24 03:46] MaicomMR opened #188 "Reworked Airports SBGL and SBGR:"
Hi everyone,
I'm reworking SBGL and SBGR(Which I had created a few months ago), now I'm using the coordinates system to place(and replace) the waypoints, I'm taking the coordinates on aviation charts and virtual aviation charts, see the results bellow:

SBGL:
![sbgl](https://cloud.githubusercontent.com/assets/12571488/10064942/e7de8b88-6254-11e5-9fc9-97f7dd2093e6.jpg)

SBGR:
![sbgr](https://cloud.

[2015-09-24 07:40] nielsvdweide commented on #184
My bad! Only a center position for the radar is needed!

[2015-09-24 13:33] Maverick283 commented on #185
@glangford When you say spawns in the control area, do you mean comes down from the sector above? Or do they just pop up at lets say 5000ft?

If they are descending from the sector above, a more complex fix might be considerable as some STARs in the future might have a steep descent into the control zone from above 10,000. Not sure about the code, and how easy it is to put a exception for STARs in

[2015-09-24 13:41] Maverick283 opened #189 "Better starting and landing clearances"
When an aircraft is given takeoff clearance, a simple "Callsign, cleared for takeoff" is in the radio box.

Different countries, different phraseology, but all takeoff and landing clearances should include:
- Callsign (e.g. "United 123,")
- Wind information (e.g. "Wind 80 degrees, 5 knots.")
- Runway (e.g. "Runway 32R")
- Clearance (e.g. "Cleared for takeoff" or "Cleared to land)

Any reasons why

[2015-09-24 13:47] Maverick283 opened #190 "Auto Fill function"
This is a rather big one:

Every programmer loves autofill functions, they make it a lot easier... What if we have an autofill function here?

Basic Idea:
After typing/clicking a callsign and e.g. "fix" , pressing TAB would then put a fix (either alphabetically or by distance to the airplane) in the command line. Same goes for STARs, in far future maybe SIDs, Runways, and so on. The different sugg

[2015-09-24 14:34] glangford commented on #185
@Maverick283 I mean they just pop up in the control area at between 8-10K feet. It doesn't happen often but it is possible. I am guessing it is a simple matter of changing the random generation so that arrivals always appear initially outside the control region.

[2015-09-24 16:02] zlsa commented on #189
No, and yes. I just didn't add it because I had forgotten about it...

[2015-09-24 16:56] tedrek commented on #188
That's a cool animation showing the STARs, looking forward to seeing them :smile:

[2015-09-24 17:04] tedrek commented on #185
What is happening is when the game initially loads it tries to spawn a number of arrivals closer than default so you have something to play with, these can sometimes spawn within the terminal area.  They can also do so with a significant delay after starting.  It should be relatively simple to change so arrivals are always outside.

The somewhat difficult wrinkle to it is that aircraft spawned clo

[2015-09-24 17:33] glangford commented on #185
True - I first came across the issue for KSFO and the fix MOVDD, which is the first fix in a STAR that lies just outside the control area. For KJFK, there are many fixes outside the control area that are in a STAR. Agreed also that you want to have something to actually play with on startup!  :smile:

[2015-09-25 20:14] MaicomMR opened #193 "KJFK increase realism [Proposal]"
Hello to everyone again,
I've been thinking about improving the realism of the airport KJFK creating specific files of airlines apra fly there, the system would be similar to that utilized in SBGR and SBGL, create airlines with "na-" before his name, and those having only aircraft using to make routes to the US and Canada. I thought I'd use this table (wikipedia) to create companies from the most

[2015-09-25 21:47] tedrek commented on #193
My main concern is the weight of adding additional airlines in this manner.  The current load times for the game are getting long and every single .json which is added increases load by a significant amount.

There is also significant duplication if we continue this route of creating new airlines to represent a different fleet mix.

The solution I've been considering is to allow individual airline

[2015-09-27 06:08] #134 closed

[2015-09-30 22:55] glangford opened #195 "Bug in canvas_draw_aircraft"
The following code in `canvas_draw_aircraft()` refers to w and h, both of which are undefined:

[code]
As a result, t appears to always be zero.

1. Can this code simply be deleted, or is there some higher purpose? I can't tell what it was trying to achieve.

2. This was found by static analysis (jshint). Is there any interest in using jshint and/or strict mode in the project? It flagged a number

[2015-10-01 22:25] zlsa commented on #195
1. I have no idea what `t` is for. (`crange` is a linear interpolation function that clamps the output). It looks like it might be an offset for when the aircraft is close to an edge, but I'm not sure.
2. Absolutely. I wrote this when I was much less experienced with JavaScript and before I had even heard of JSHint.

[2015-10-02 11:36] glangford commented on #195
Thanks @zlsa - I will submit some changes isolated to canvas.js at first, with local use of jshint only. We can evaluate the configuration settings and decide if it is appropriate to deploy further.

(p.s. I tried jslint as well. It is 'more opinionated' about coding style and it does not appear to be a good fit for the project. That said, I am a novice with both tools so definitely appreciate any

[2015-10-03 21:55] #195 closed

[2015-10-04 13:19] Maverick283 opened #198 "Bug when zooming in using Chrome"
When one zooms in (not the ingame zoom, but the "Alt" + Mousewheel kind of zoom) everything becomes bigger as it is supposed to, but then on resetting the zoom to 0%, the canvas on which the scope is drawn appears smaller then it usually is, with a border with background only on the bottom and the right hand side.

![untitled-2](https://cloud.githubusercontent.com/assets/12700191/10268008/55512dc0

[2015-10-04 17:29] glangford commented on #198
Confirmed on Chrome, only when on a retina display. @Maverick283 are you seeing this on a high resolution display?

[2015-10-04 17:33] zlsa commented on #198
I'm not seeing this in Chrome 45.0.2454 on Linux, non-Retina. It looks like canvas_resize isn't being called for some reason.

[2015-10-04 18:13] glangford commented on #198
More testing - I see it only on Retina on both Chrome and Safari. It's a bug in `canvas_adjust_hidpi()`.

[2015-10-04 18:14] glangford commented on #198
Try resizing very small, then big, several times - that seems to be the trigger, not zoom.

[2015-10-04 20:14] #198 closed

[2015-10-05 05:04] harp71 commented on #128
Second that ...

And there has to be a "mission, target, goal" (call it what you want) for departing flights

[2015-10-06 20:01] #73 closed

[2015-10-06 21:29] glangford commented on #128
@akymakr @harp71 try the new version of KSFO and post any comments. Aircraft now arrive with fixes set; see ksfo.json.

Departures now have a goal (all airports).

[2015-10-07 22:01] #189 closed

[2015-10-13 16:58] glangford commented on #171
@joallard can this issue be closed now?

[2015-10-13 17:00] glangford commented on #170
@joallard can this issue be closed now?

[2015-10-13 18:06] joallard commented on #171
I don't mind as to the status of the issue, but I must admit I haven't reached the point where I can ascertain whether or not locking a landing in Atc will work.

[2015-10-13 18:07] joallard commented on #170
Probably seeing there's been a fix, I haven't played since

[2015-10-13 18:07] #170 closed

[2015-10-18 02:34] gitsalty opened #206 "Adding Istanbul Atatürk Airport (LTBA)"
This airport sounds very interesting especially since there are plans for a new parallel runway (currently 3 runways). Also one of the heaviest traffic movements in the world. I would also love to pull request and add but I'm new to this.

[2015-10-18 23:54] gitsalty commented on #206
Also I created THY, and NAX files also I just created LTBA where am I able to pull request cause I'm not able to.

[2015-10-18 23:56] zlsa commented on #206
To open a pull request, you have to fork this repository (the Fork button in the top right), then push to your copy as usual. From your repository, you can then open a pull request back to this one.

[2015-10-19 00:05] gitsalty commented on #206
Got it thanks!

[2015-10-23 10:43] harp71 commented on #128
Oh, the departure goal is represented by the blue marker on the outer circle? That´´s better :)
I´m used to (from other ATC sims) having a departure goal before taking of, so you can choose the runway accordingly. And the goal is usually not a area but a fix-point.
But its fine that way for me :)
Finally there is sense to departures.
Now we need SIDs :))

[2015-10-23 10:45] harp71 commented on #3
Is EDDM going to be merged in the main project?

[2015-10-23 11:53] glangford commented on #3
@harp71 Have you sent a pull request with EDDM?

[2015-10-23 13:16] harp71 commented on #3
I did now (again), i thought i did then!?

2015-10-23 13:53 GMT+02:00 Glenn Langford notifications@github.com:

[2015-10-23 13:29] Maverick283 commented on #128
@harp71 SIDs have already been mentioned earlier, yet STARs seemed to be more important for the moment. The guys programming all this can always do only so much ;)

[2015-10-23 13:38] harp71 commented on #128
i´m gratefull no doubt. I wish i could contribute more than suggestions ...

2015-10-23 15:29 GMT+02:00 Maverick notifications@github.com:

[2015-10-23 14:01] glangford commented on #128
@harp71  @Maverick283  STARs are now implemented for a couple of airports (KSFO, KLAX and ENGM) and are automatically assigned. I'm not sure it makes sense to have a "STAR" command to enter, as I originally suggested in #147. Note also that the STARs can be seen for arriving aircraft by simply clicking on each one to see the future path, or entering "*" to select all.

For SIDs - I have been manua

[2015-10-23 14:13] Maverick283 commented on #128
@glangford I think SIDs in general would make sense.

Whenever you select an aircraft that is on the ground, you could then get paint the available SIDs on the canvas. Since there are some SIDs that only work on one runway of two parallel runways, you could either only paint one SID (of one runway that is active to the departure point close to the area of departure) or have the user define first w

[2015-10-23 15:29] harp71 opened #212 "Question airports"
In the airport file: what is the "angle" for in arrivals an why hasn´t the first array one?

  "arrivals": [
    {
      "heading":   180,
      "airlines":  [
        ["ual", 4],
        ["baw", 3],
        ["cessna", 1]
      ],
      "frequency": [4, 6],
      "altitude":  [7000, 9000]
    },
    {
      "angle":     90,
      "heading":   135,
      "airlines":  [
        ["ual", 2],
        [

[2015-10-23 16:23] glangford commented on #212
@harp71 For arrivals "radial" and "heading" should be used to describe where the aircraft is created, and what initial heading it has. "angle" is not used in arrivals.

[2015-10-23 20:18] zlsa commented on #3
Merged, thanks @harp71.

[2015-10-28 13:53] harp71 opened #214 "AWSOOOOOMMMMEEEEEE!!!"
Well the development in the last 6 month made it really fun to play an contribute. Working on a refined EDDM ... coming soon

[2015-11-02 13:47] harp71 opened #216 "Github and i"
Hi, i would very gladly contribute but i don´t get github at all, with the forks and commits and pull requests ... maybe somebody can tell me what to do

[2015-11-02 13:48] harp71 commented on #216
Otherwise i have to print my changes out and fax it ;)

[2015-11-04 19:19] zlsa commented on #216
It took me a while to get used to it, too. See here: https://help.github.com/articles/using-pull-requests/

[2015-11-04 19:19] #216 closed

[2015-11-05 10:14] culebron opened #219 "Terrain, collisions and restricted areas"
I'd like to see this in the simulator, and here are some tests that I've done. I'm not ready to commit code, but here are some thoughts and sample data and code.

The most interesting airport in terms of terrain, I think is Galeon, Rio de Janeiro (SBGR). It has mountains at north and south, near the coast. Also glideslope to runway 10 is between two hills.

I made some elevation levels rounded to

[2015-11-05 10:51] harp71 opened #220 "Some thoughts on enhancements"
I´ve been playing a lot lately and there are some things i noticed or i like to suggest:
- all the airplanes seem to have a max. speed of 250?
- arriving airplanes (outside tower-radius) should descend coming from altitude 15000/13000 feet to 10000 feet and slow down from 350/300 knots to 250 knots leading to 10000 feet target approach altitude.
- departing airplanes should accelerate to cruise sp

[2015-11-05 13:08] space-is-hard opened #221 "[Feature Request] Dynamic Weather Patterns"
This is a separate request from #68

I'd like to see bands of rain that move slowly across the radar screen that cause the player to lose points (or even lose an aircraft) if they direct an aircraft into medium or heavy storm areas.

Ideally it would look something like [this](https://www.ll.mit.edu/mission/aviation/wxatmintegration/images/udss-slide1.jpg) or [this](http://www.google.com/imgres?im

[2015-11-06 15:29] glangford commented on #219
Some aspects to consider:
- Terrain is not usually shown on real ATC screens, as you point out
- SIDs and STARs are defined with terrain in mind
- A detailed terrain model would add to the startup time when downloaded

I don't have the charts for SBGR, but I wonder if as a starting point it makes sense to first:
- update SBGR arrivals to use STAR fixes (using KSFO, KLAX, ENGM as examples)
- update

[2015-11-07 01:51] culebron commented on #219
I thought of both restricted areas and SID/STARs. They're not implemented yet, right? I mean you can't just say "callsign use STAR 4"?
- For the sake of pure ATC, they are bigger priority.
  - Now, what should a pilot do if he's directed to restricted area?
  - If a plane flies along a restricted area obrder and is ordered to turn into it? Just check the flight path and say "negative"?
  - What sh

[2015-11-07 16:11] glangford commented on #220
I don't know all of the history behind the max speed of 250 and 10000 elevation, I assume they are simplifications for simulation.

For bullet 5 - see #185. To work around you can clear departures to < 10000.

[2015-11-07 18:18] nielsvdweide commented on #221
I think this will make it way too hard to play this game (as we have to do everything right now... from approach, descends to clearances)

[2015-11-07 18:20] nielsvdweide commented on #220
For the first few bullets and the speeds its quite clear. It's a law that aircraft below 10.000 feet can not fly faster than 250 knots.

[2015-11-07 20:37] glangford commented on #219
The idea (for now) is that STARs are assigned automatically - this is implemented for some airports, but not all yet. As they come into the control area, they can be held, rerouted, or vectored for arrival.

I will add a SID command to minimize the typing for departures.

[2015-11-08 01:36] culebron commented on #219
Here's the approach chart. While in Madrid or Barcelona airport there are big sectors of restricted areas, here there are none except for some for military areas/airports, and mountains Corcovado and Pedra Branca that stick out.
![selection_031](https://cloud.githubusercontent.com/assets/119675/11018252/07e15116-85e3-11e5-992e-e3097ca485b0.png)

[2015-11-08 02:52] space-is-hard commented on #221
It could certainly be a toggleable difficulty setting

[2015-11-08 09:50] Maverick283 commented on #221
I think this would be an amazing idea!

As @nielsvdweide pointed out it might be quite difficult, but could be one of the options that have been talked about....

Having different "levels" of bad weather, displayed by different shades of a color (keep in mind the color blind though), where more and more points would be subtracted for each plane flying through sounds good.

[2015-11-08 11:40] harp71 commented on #220
Thats not what i meant. Of course 250 below 10000. I said:

But almost all the aircrafts are set to speed max 250, which is the over all max speed for the aircraft, which is wrong. Also those aircrafts are set to 200 cruise speed, which is either a terminology problem (is "cruise" their default speed after takeoff, the "default speed"?) or, most likely, they are from a early development stage and

[2015-11-09 12:48] nielsvdweide commented on #221
After thinking about this, this could actually be pretty cool! But as I pointed out it will be quite hard work if we have to do all bits of air traffic. It would be a good idea to make it an option you can toggle on and off.

[2015-11-09 12:55] nielsvdweide commented on #220
Okay i see what you mean. Does it really matter if airplanes accelerate to cruise speed which is faster than 250 knots when they are above 10.000 feet? I mean, they are already out of radar coverage and at that point they are uncontrollable...

It would be a nice option to make them able to fly faster when they are below 10.000 feet. The air traffic controller is able to clear them fly faster than

[2015-11-09 13:58] harp71 commented on #220
Well, i don´t now if it matters, but i happens that way in real life.
As i mentioned they currently, after exiting radius or ordered over 10000
feet, the planes in the sim continue to climb, but they keep 250 speed.
Thats wrong, they should gain speed as well. Actually they would, but
automatically, it´s just the max-speed setting in the aircraft settings. To
change that their has to settings chan

[2015-11-09 14:26] harp71 opened #225 "Warning horizontal separation 1500 feet"
Why is there a warning, if aircrafts are not separated more than 1500 feet (white circle)? There is no need for that as there is no warning in real atc, as far a i know! It´s 1000 feet separation below FL290, that´s it.

[2015-11-09 15:13] Maverick283 commented on #221
@glangford What do you think? Would be quite a chunk of work, could it be worth it?

[2015-11-09 15:16] Maverick283 commented on #220
Well, what speed is represented in the code? TAS, GS, IAS, CAS?

[2015-11-09 15:55] glangford commented on #221
I definitely like the idea in principle, but agree it would take some work. On the software side of the world we often speak of "T shirt sizing" of features before they are well understood - i.e. is it a small, medium or large in terms of effort. I would call this one a Large. :smile:

[2015-11-09 16:08] glangford commented on #225
I think the logic of the white circle is to point out a potential future problem - in other words, 1500 feet is ok for now but if it went to 1000 then it would turn red. There is no calculation of closest point of approach, or range tau (like TCAS does), it is simply based on the two positions.

I last updated the separation minima in #159 and #160.

[2015-11-09 16:17] Maverick283 commented on #221
I agree, but i think from the programming side it is somewhat similar if not even almost identically to [#219](https://github.com/zlsa/atc/issues/219), where areas on the canvas give minus points when aircrafts enter this area... Except that weather is moving...

[2015-11-09 16:20] glangford commented on #221
@Maverick283 I am with you. #219 is also a Large.

[2015-11-09 16:21] harp71 commented on #225
Ok. I know the 1000 feet rule and the atc-warning as well as TCAS in
general. My question would be: where does the 1500 feet warning come from?
Is there a pre-warning like that in real ATC?

2015-11-09 17:08 GMT+01:00 Glenn Langford notifications@github.com:

[2015-11-09 16:23] harp71 commented on #221
Maybe off topic here, but how about starting with changing wind conditions,
e.g. random selection between a number of possible wind directions

2015-11-09 17:20 GMT+01:00 Glenn Langford notifications@github.com:

[2015-11-09 16:33] glangford commented on #225
Good question, I don't know the answer.

[2015-11-09 16:47] zlsa commented on #220
It's all groundspeed IIRC.

[2015-11-09 16:48] zlsa commented on #220
And @harp71, if you spend the time and effort to fix all the aircraft, I can change the aircraft logic and merge the changes.

[2015-11-09 17:53] Maverick283 commented on #221
@Harp71 Well that would be similar to #169 which I think would be great too!

But I think we should stick to that idea here, as I believe it can be done hand in hand with #219
 Most of the code should be the same as the principle is the same.

The programmers need to decide though if this is practical and if  they want to spend the time :)

[2015-11-09 18:02] nielsvdweide opened #227 "Adding SIDS to amsterdam"
Before i am going to start with adding SIDS we need to think about certain things:

* Which sids do we add? At the moment wind direction does not change, so only sids for the runway used for take-off could be added, but i think in the future variable wind will be implemented, which asks for more sids to be added. Also the use of certain letters and numbers like: "LEKKO 1S Departure" which depends

[2015-11-09 18:21] Maverick283 commented on #220
That's what I thought.

If it is all ground speed, and if we want to make it more realistic by improving the speeds, then there is a whole other problem:
The higher a aircraft flies, the greater it's ground speed is when the indicated airspeed and wind remain constant. And the rule with the 250 kts below  FL100 refers to 250 KIAS (Knots indicated airspeed). Also, ATC instructions always refer to I

[2015-11-09 18:30] glangford commented on #227
It's up to you for EHAM, but until variable wind is implemented it might be easier to add just a subset of SIDS. We can always add more later.

I am learning this just now. @culebron also points out in #224 - "...when I tried adding SIDs for SBGL, I saw there are several problems: some departures suggest just doing 180deg turn after initial climb, and there's no fix to stick to."

Some KLAX SIDs h

[2015-11-09 18:58] glangford commented on #220
Good discussion.

For us non pilot/simulator jockeys I found a good discussion here describing why ATC only cares about air speed, to your point @Maverick283 :
http://macsblog.com/2012/04/how-fast-are-you-flying/

(I have this urge to put in an Easter egg command to request a flyby, which always gives the response: "Negative Ghostrider, the pattern is full.")

[2015-11-09 20:41] glangford opened #228 "Render standard instrument departure sequences on the canvas"
I think most people will not be familiar with standard airport departure schemes, so a rendering on screen is needed. Here is an example of what it might look like for KSFO for example. I am using the departure colour with very little "ink" so it isn't a pain to look at.

![ksfo sids](https://cloud.githubusercontent.com/assets/3035114/11045811/bc3e4f00-86f7-11e5-9540-bc5472700251.png)

#224
#227

[2015-11-09 20:59] harp71 commented on #228
Nice
Am 09.11.2015 21:41 schrieb "Glenn Langford" notifications@github.com:

[2015-11-10 02:20] culebron commented on #228
Looks cool!

[2015-11-10 11:15] harp71 commented on #221
And it should be an option. I don´t know if i want to play with weather
ever.

2015-11-09 18:53 GMT+01:00 Maverick notifications@github.com:

[2015-11-10 12:19] culebron commented on #227
Virtual fixes seem a simple solution. Encoding the real instructions seems too much to just superficially simulate aircraft behaviour. Hidden fixes are good enough to make it fly controllably.

[2015-11-10 14:02] nielsvdweide commented on #228
Looks very cool!

The only thing i can think of the screen will get very crowded so you might want to add a toggle for this option? (if possible?)

[2015-11-10 14:15] nielsvdweide commented on #227
What do you think of this: Add each SID but with the name of the departure runway in it. So for example: `SID LEKKO 18C` or `SID LEKKO 24` This way it is always clear what SID they are flying and of which runway the aircraft will depart. It's certainly more clear than `LEKKO 1S` or `LEKKO 2B` which indicates the same departure for a different runway.

So what I suggest is adding sids with the depa

[2015-11-10 14:30] glangford commented on #227
Having a SID name (or a fix) with a space in it doesn't work with command entry. Space is used as a separator in parsing.

For North American SIDS, as far as I know there is a just a version number tacked on to the end. So if a SID is updated, they add one to the version number. So there is no loss in just dropping it for simplicity.

It sounds like for Europe (and elsewhere) there can be a suffix

[2015-11-10 14:36] glangford commented on #227
Can do. (Before you add any virtual fixes, with turn anticipation some SIDS may not need them. If a sharp turn is needed after takeoff for example, a virtual fix may or may not be necessary.)

[2015-11-10 14:40] glangford commented on #228
I agree, but I will start with no toggle option to start and let's see if it gets crowded.

[2015-11-10 15:02] nielsvdweide commented on #227
I'm trying to start working on Amsterdam later this evening! Just wanted to point out some things I'm thinking about to improve gameplay

[2015-11-10 18:26] culebron commented on #227
By the way, SIDs don't necessarily work for one runway. They often times work for all of them, but skipping some intermediate points. Here's an example:

![selection_001](https://cloud.githubusercontent.com/assets/119675/11071372/6bc577fe-8802-11e5-9675-c2d441c8a4cc.png)

Maybe it's better to chain them somehow?
Like:

[code]

And naming `sid1` will choose the best route between a given runway and

[2015-11-10 18:27] Maverick283 commented on #220
As far as I know, the scope always displays ground speed (as it is the only speed the radar can measure without any other equipment). The situation described in the article shows how important it is for everyone to talk about the same speed.

In this simulation, we have only the displayed speed, but it was not yet defined properly (I believe) what speed it really is (@zlsa yeah I read it, no worri

[2015-11-10 18:44] Maverick283 commented on #227
I agree with @glangford that the "version number" can be dropped.

In the FAA region, one SID name can work for multiple runways ( as the picture posted by @culebron shows above). In England and Germany (and other countries, but those are the one I know for sure) there is only one SID for each runway. So when the active runway changes, the SID changes.

BUT: If the SID has the same name in (lets j

[2015-11-10 18:48] Maverick283 commented on #228
With #227 in mind: only SIDs for the active runway should be displayed...

[2015-11-10 20:02] nielsvdweide commented on #227
I agree that the version number can be dropped, but as soon as we get a variable wind, thus changing departure and arrival runways, we might have a problem with assigning sids and stars as well.

For Amsterdam specifically, please look at these two departures: the Andik 1T takes a different route than the ANDIK 2E.
<img width="603" alt="schermafbeelding 2015-11-10 om 20 58 03" src="https://cloud.g

[2015-11-10 21:01] glangford commented on #228
It's a fine idea in principle, but not possible at the moment. There is no notion in the game of an "active" runway; aircraft can be taxiing (or not) to one or more runways. Also, the SIDs as currently recorded are not attached to runways.

[2015-11-10 21:24] glangford commented on #227
This is a good discussion. A couple of observations:

At this stage, I would prefer not to be checking SIDs against runways for validity. This would be a bit of a mess for the situations where the SID is valid for multiple runways. While it might be more realistic, it does not really add to the quality of game play and it adds to complexity of the airport definitions.

This is a good example.

I t

[2015-11-10 21:32] nielsvdweide commented on #227
I'm currently busy with adding SIDS to amsterdam, i've made a couple of new waypoints and i am assuming everyone is using runway 24 for takeoff and runway 18r and runway 18c for landing. All the sids are compatible with the use of runway 24 and even runway 18c/l for departure!

At the moment; this is what it looks like

Right now i am changing departure destinations to be in line with the standard

[2015-11-10 21:57] Maverick283 commented on #227
Well, if it is gonna be no tying to runways (which I understand as it really might get messy :/ ) then I think dropping the version number is better then having different SIDs with almost the same name.

While we have the charts laying out before us right now, how is the user gonna know the name of the SID with the version number?

If we drop the version number then we can give the user the rule t

[2015-11-10 22:02] Maverick283 opened #230 "Active Runway"
In real life, the ATC determines the active runway(s) based upon the winds current at the airport.

When introducing variable winds, I'd suggest an input where the user can specify the active runway.

Once the SIDs and so on got going and are all figured out, I believe it'd be an advantage to bind SIDs to runways. Then, whenever the active runway is chosen, only the necessary information could be

[2015-11-10 22:03] Maverick283 commented on #228
I opened a new issue ( #230 ) in which I suggest a active runway feature. I think this might be helpful and fun in the future, but is definitely something that can wait!

[2015-11-10 22:04] glangford commented on #228
Good thought, it's always good to create an issue for these items that we can't implement right away. Thanks for writing it up @Maverick283 .

[2015-11-10 22:09] nielsvdweide commented on #227
@glangford Any help on adding STARS to amsterdam as well? I've got the standard code which works for amsterdam (the way it is now). I tried to change some things and copied the way stars are implemented in KLAX but now eham.json doesn't load anymore...

Could you briefly explain how to implement stars?

[2015-11-10 22:15] glangford commented on #227
Sure ! The main idea is that for each arrival you want to have a radial (that says where the aircraft spawns) and a list of fixes that represent the STAR.

For example:

[code]

Each of the fix names has to exist - if there is a typo, there will be an error logged in the console.

One error that I make all the time is including a trailing comma when it isn't needed.

[2015-11-10 22:21] nielsvdweide commented on #227
@glangford So now i added this line "fixes" and both waypoints exist, but yet it can't load eham.json upon testing it.

[2015-11-10 22:23] glangford commented on #227
Have you checked the console to see if any errors are logged?
If there is nothing there, can you commit your changes, push to your repo and I will peek at the file?

[2015-11-10 22:27] nielsvdweide commented on #227
How do i check the console?

[2015-11-10 22:29] glangford commented on #227
Depends on your browser:

Chrome
https://developer.chrome.com/devtools/docs/console

Safari
The developer menu has to be first enabled; then you can see the console from that menu:
http://macs.about.com/od/usingyourmac/qt/safaridevelop.htm

[2015-11-10 22:36] nielsvdweide commented on #227
I get this while trying to load eham.json
[Warning] [ WARN  ] – "Failed to get assets/airports/eham.json: 200" (modules.js, line 125)

And sorry guys for going major off-topic right here

[2015-11-10 22:42] glangford commented on #227
Ok, that's just a generic error. Two choices:
- get the file working by removing any "fixes" lines; then add the fixes/STARs back in, one at a time to identify the problem.
- commit your changes, push to your repository and I will look at the file there

[2015-11-10 22:46] nielsvdweide commented on #227
I just had one "fixes" line in there, and as soon as i did that it stopped working. If i remove the line it works again... Quite strange. I have a working file in my repo right now if you want to take a look at it?

One of the stars is from radial 054 with fixes EEL and ARTIP

[2015-11-10 23:04] culebron commented on #227
Regarding STARs, I saw one trick that ATCs do in Dubai: they let some planes cut the rectangle pattern in various places, in order to chain them with enough clearances. If we include these virtual fixes (numbered) in STARs for convenience, then they should include all fixes to allow flexible shortcutting to whatever position is needed.

**EDIT** not all fixes, but several of those _after_ the turn

[2015-11-10 23:08] glangford commented on #227
That's the beauty of the new DIRECT command!  :smile:

[2015-11-10 23:20] glangford commented on #227
@nielsvdweide - If I add a fixes entry to your file from your repo, it works fine. Two suggestions:
- the SIDs section should be indented; everything is in column 1
- try manually typing the fixes line rather than cut and paste

[2015-11-10 23:23] glangford commented on #227
The SIDS look good :smiley:
![eham](https://cloud.githubusercontent.com/assets/3035114/11079137/213fbf7a-87d8-11e5-9885-0c0e756e6de8.png)

[2015-11-10 23:23] MaicomMR commented on #227
Guys I'm sorry about my noob question, but what the meaning of the "cc" abbreviation?

[2015-11-10 23:23] MaicomMR commented on #227
@glangford looks perfect :+1:

[2015-11-10 23:25] glangford commented on #227
"Back in the "Dark Ages" before computers letters were send by snail mail. They were typed on a typewriter. If a copy was to be sent to another person, the writer would type CC and then the name of that person at the bottom of the letter. CC stands for carbon copy. It's a hang-over from the days when carbon paper was used ... the days before photocopy machines."
https://ca.answers.yahoo.com/questi

[2015-11-10 23:28] MaicomMR commented on #227
Thank you, I had sought in other place and none of the answers made sense.

[2015-11-10 23:28] nielsvdweide commented on #227
They do yeah! Now we just need to add the stars to them!

[2015-11-10 23:29] glangford commented on #227
If you are still stuck, push your broken file to your repo and I will check that.

[2015-11-10 23:29] nielsvdweide commented on #227
I will continue tomorrow! Too late for me now haha :)

[2015-11-11 00:25] culebron commented on #227
It always puzzled me why email copy said "carbon copy", why an exact copy would be carbon (I did have those black copying sheets, but they were named "kopirka", not "karbonka" :)).

[2015-11-11 00:46] zlsa commented on #230
At the moment, you can instruct an aircraft to `taxi 21L` if so desired.

[2015-11-11 04:52] culebron commented on #219
To start with something rather simple, I created branch restricted-areas in my repo. It can display restricted areas on canvas, but no there's no detection or prevention yet.

The big area in the picture is the entire Moscow city, which is a restricted area (it's officially allowed to fly above 8000m, but this almost never happens).
![selection_017](https://cloud.githubusercontent.com/assets/11967

[2015-11-11 05:23] MaicomMR commented on #219
Wow, sounds good, but maybe a more transparent color can be more confortable to play. :+1:

[2015-11-11 07:34] Maverick283 commented on #230
Correct, but when not specifying where the aircraft is supposed to taxi to, it will taxi to some runway. This behaviour could be changed so it would taxi to the active runway. This would save a lot of typing.

[2015-11-11 08:18] Maverick283 opened #232 "Multiple language support"
Another idea for an enhancement:

Based on Google Analytics or other means, users could get the explanations and other in game information in their own language. The ATC would obviously stay english.

That way more users might start playing.

This again can wait, and just adds to the collection of ideas for later implementation.

[2015-11-11 09:18] Maverick283 commented on #59
VFR flying can not be simplified as much as IFR. The IFR rules are strict, thus easy to teach a PC. VFR though is quite free, thus very hard to get a PC to understand all situations.

[2015-11-11 09:22] Maverick283 commented on #29
@zlsa I think this can be closed?

[2015-11-11 11:57] glangford commented on #219
Very cool! :zap: :exclamation:

I don't have time to look at your branch yet, but thinking ahead a little to collision detection - I get the feeling that you might know as much or more about it than I do :wink: , but some thoughts:
- if the regions can be expressed as polygons, there is a very simple approach for 2D point-in-poly hit testing here, which could be combined with an altitude test: htt

[2015-11-11 12:03] glangford commented on #219
One additional consideration - we would probably want to perform new collision detection in the projected paths code, which does the flight physics into the future (`canvas_draw_future_track`). So when you select say `n` aircraft on the screen, `60 * n` physics updates are drawn every refresh. So fast hit testing is nice - if only because it doesn't make laptop fans go wild. :hotsprings:

[2015-11-11 12:08] culebron commented on #219
@glangford I thought of it, and as I mentioned, there is a simple algorithm that allows skipping all the unnecessary calculations. Just calculate the range (distance between the a/c and the area) and collect the travelled distance every notch. Untill the plane flew that distance, there's no reason to bother.

Also, this range can be calculated to convex hull of area, which reduces the amount for s

[2015-11-11 12:12] glangford commented on #227
The funny thing for me is I don't even think twice about the phrase "carbon copy" because I remember the days when it was used. Imagine the excitement when you could make _multiple_ copies at once (original, yellow which was called "canary", pink). Now that was innovation (please press hard with your ballpoint pen). :laughing:

[2015-11-11 18:13] MaicomMR opened #234 "SBGR update STAR and SID"
Hello guys, I work some time to update SBGR to work with STAR traffic entrance and SID sistems to departure, but now my windows can't clone the "zlsa" project to open a fork, someone can do it for me?

The fonts used to update is the official Aeronautical Information Service of brazil, with real aviation Charts and waypoints coordinates.

[code]

STAR: ![Star](http://i.imgur.com/xSJiVfC.png)
SID:

[2015-11-11 18:19] MaicomMR commented on #232
I can help to make a Braziliam Portuguease(PT-BR) translation, call me at need :smile:  :+1:

[2015-11-11 18:31] MaicomMR opened #235 "[Feature Request] SID show/hide button"
Hi all, I have been thinking about a SID button to enable or disable the dashed lines and names of SID, take a look on example.

SHOW: ![Alt Text](http://i.imgur.com/lqahRpk.png)
HIDE: ![Alt Text](http://i.imgur.com/cEDYdDz.png)

[2015-11-11 19:50] glangford commented on #234
@MaicomMR I can help. I will submit the changes shortly, they look great. :+1:

[2015-11-11 19:52] MaicomMR commented on #234
Very thanks @glangford :+1:

[2015-11-11 20:38] zlsa commented on #230
The active runway is already determined internally by the wind IIRC.

[2015-11-11 20:43] zlsa commented on #29
Yep, thanks @Maverick283

[2015-11-11 20:43] #29 closed

[2015-11-11 20:44] zlsa commented on #219
I think it's fine to just check once each in-game second.

[2015-11-11 20:59] zlsa commented on #235
I think it should be one of the buttons in the bottom row. Any ideas for a smaller icon? Maybe just "SID" or maybe an arrow or something?

[2015-11-11 21:00] #234 closed

[2015-11-12 03:03] culebron commented on #235
Probably should look like an aircraft taking off icon which is used in airports.
![download](https://cloud.githubusercontent.com/assets/119675/11109593/e9a9a084-8913-11e5-8ea9-d22df5ce09fa.png)

[2015-11-12 03:51] MaicomMR commented on #235
Here is a new test:
On bottom bar [test icon 1]: ![Alt Text](http://i.imgur.com/vny3G7Q.png)

icon[icon 1]: ![Alt Text](http://i.imgur.com/KkXH4VX.png)

On bottom bar [test icon 2]: ![Alt Text](http://i.imgur.com/6t1IQfO.png)

icon[icon 2]: ![Alt Text](http://i.imgur.com/liI4AWx.png)

[2015-11-12 10:46] glangford commented on #235
The airplane taking off icon looks great @MaicomMR and @culebron - another possibility would be to create a button image for a group of settings (like a gear icon). @tedrek was experimenting with that idea.

That could contain additional things in the future like Variable wind (on/off), and any other options. eg.
https://commons.wikimedia.org/wiki/Category:Black_gear_icons

I like the look of the

[2015-11-12 17:28] Maverick283 commented on #230
Yeah.... Usually the ATCs decision ;)

[2015-11-12 17:29] Maverick283 commented on #232
I'd be down for German and Spanish...

[2015-11-12 19:24] glangford commented on #228
Will close this now, issue #235 covers show/hide capability.

[2015-11-12 19:24] #228 closed

[2015-11-12 22:38] culebron commented on #235
If you ask my opinion, I would put this button on the left, and next to it I'd put all actions/switches that are related to ATC activities, and may be needed often. I guess ATC may quite often want to switch between clean view and "cluttered".

What's important is that these switches should be easy to switch back and forth without irreversible or expensive consequences. (E.g. change airport is irr

[2015-11-13 01:52] culebron opened #239 "Discussing playability priorities"
Dear fellow developers, I see there are discussions on what improvements to do. Here are my 2 cents on this. **TL/DR:** features that should be developed first are those that improve playability and sharing. Details like true airspeed, aircraft modelling or auto-intercept runways, are good to have, but don't improve enjoyment notably for a non-expert.

Suggestions:
- better approaches
- save the s

[2015-11-13 12:22] nielsvdweide commented on #227
@glangford if you have the time please test amsterdam: http://nielsvdweide.github.io/atc/

[2015-11-13 13:28] glangford commented on #227
@nielsvdweide I just did a quick test copy and pasting EHAM into my environment. The new SIDS work great. :+1:

A couple of comments:
- the speeds of the arriving aircraft are all 200 knots, this can be changed by adding
  `"speed":    250,`
  for any or all of the arrivals
- I noticed that your fork of the project says "This branch is 22 commits ahead, 35 commits behind zlsa:gh-pages." So you are

[2015-11-13 17:03] harp71 commented on #220
@zlsa I will change the aircrafts to near realistic values the following days. But first please confirm, correct or add to my interpretation of the current variables in the aircrafts json:

[code]

Just to be clear: when i change the values for every aircraft it will be "aircraft is empty" values. Especially the (landing) speed varies significantly with weight. But, as you said, you fix that in th

[2015-11-14 07:34] culebron commented on #219
Initial version of restricted areas detection: when there are many aircrafts in area, it tests about one combo per second (aircraft*area combination for point-in-poly and distance to poly).

![selection_040](https://cloud.githubusercontent.com/assets/119675/11162607/00c72b2e-8acc-11e5-98f5-4bf73ad45c76.png)

No indication yet, just raise warning.

[2015-11-14 20:21] culebron commented on #219
@zlsa BTW, I can't find the future position in the `aircraft.js` code. It is present only in `canvas.js`, where it creates a `twin` (seach this word there) and runs 60 seconds ahead for it. But this object is not stored, nor available in `aircraft.js`

[2015-11-14 20:40] culebron commented on #219
finalized the restricted areas in #240

[2015-11-14 20:57] glangford commented on #219
That's right - the future position is only implemented in the canvas code in `canvas_draw_future_track` as a clone/twin of an aircraft, with physics run into the future. This was done so that the physics code could be reused without being copied. The future locations are stored and the twin is discarded after the track line is drawn. There was no need to store it at the time.

[2015-11-14 22:58] culebron commented on #235
In #240 I added both buttons to toggle SIDs and restricted areas. Check that out :) Open that branch and see how it works. The canvas are redrawn not immediately, and this gives it a special analog device feeling. :)

![selection_046](https://cloud.githubusercontent.com/assets/119675/11166237/a71b2a80-8b4d-11e5-977d-afeae65849a3.png)
![selection_047](https://cloud.githubusercontent.com/assets/1196

[2015-11-14 23:08] culebron commented on #219
@glangford Ok, then, it needs some work. I had difficulties making position checks rarer than every cycle. Future track should not be calculated that frequently for every aircraft, that's just too expensive, IMO. So we need a caller or an event, to be triggered every second or 2, to listen to it. Right now I need to hack with `updateWarning` and `updatePhysics` function. Would be great if someone

[2015-11-15 06:28] zlsa commented on #220
All speeds are in kts. `wake` is currently used only for the "heavy"/"super" radio messages.

`rate.turn` is no longer used (all aircraft now turn a standard 2min turn).

`rate.ascent` and `rate.descent` are in feet per minute.

`rate.accelerate` and `rate.decelerate` are in knots per second (weird, I know).

`runway.takeoff` and `runway.landing` are the minimum runway lengths in km.

`capability.

[2015-11-15 19:35] culebron opened #244 "Magnetic north turns objects when it should not"
**EDIT**: Is the map turned to magnetic heading intentionally? (I guess, it's turned so that vectors were in magnetic heading.)

Here's a screenshot of Domodedovo from OSM:
![selection_049](https://cloud.githubusercontent.com/assets/119675/11170551/80ee0c40-8bf9-11e5-946a-b42e7bb6f945.png)

And this is in the sim. I took real RWY coordinates from OSM and created two fixes from them, XXX and YYY, t

[2015-11-15 21:19] #244 closed

[2015-11-16 02:44] culebron commented on #219
See #250 with collision detection code.

[2015-11-16 03:36] culebron commented on #235
This can be closed now.

[2015-11-18 04:34] culebron opened #254 "What about Atlanta, USA?"
Just watch this:
http://www.flightradar24.com/2015-11-17/23:00/12x/33.59,-84.66/10

1400 arrivals, and I guess 1400 more departures. 113 arrivals / hour in the 2 evening rush hours. Planes landing in 3 runways. 5 parallel runways total.

Here's a pivot table with the data from FL24:
https://dl.dropboxusercontent.com/u/6721960/2015/11-18-atlanta/arrivals..xls

![selection_004](https://cloud.githubu

[2015-11-18 09:19] Maverick283 opened #255 "Wiki expansion"
This program is starting to get bigger and bigger, with more and more functions that are being added by more and more people.

The wiki only covers a short explanation of the functions, but doesn't explain in detail why certain things happen.

A more detailed wiki will not only help developers, but especially those who do not know much about programming to understand certain functions and thus bet

[2015-11-18 09:23] Maverick283 commented on #239
I do miss a mission mode... There a multiple possible scenarios I can think off right now, like a big amount of aircrafts due to the closing of another airport, or a air force one inbound with all its escort planes in formation and so on....

[2015-11-18 15:51] glangford commented on #255
I updated the wiki with descriptions of the new commands for now, but I agree that additional pages would be helpful also.

[2015-11-22 20:06] nielsvdweide commented on #227
This can be closed

[2015-11-23 10:49] culebron commented on #219
To anyone interested in this, the work on this part is done in #251. I think, restricted areas can be switched to GeoJSON, but for now, restricted areas and terrain are working as suggested.

See http://culebron.github.io/atc/ to test it.

[2015-11-23 11:56] Maverick283 opened #261 "Parallel Approach"
I was playing at KSFO the other day, and had a huge wave (lots of fun, thanks! :+1: ) coming in.

As they were coming in from two sides, with their separation being minimum already, I wanted them two land at two runways simultaneously. As traffic got closer to the extended center line, the white circles started popping up, but as I cleared them on the approach (will be creating a new issue about t

[2015-11-23 12:02] Maverick283 opened #262 "Another Reality thing: Approach clearances"
In this game, whenever a plane gets close to the localizer it is being cleared to land (BAW001 L 28L).

In reality, a plane is cleared to fly the approach, and then later cleared to land.
"Speedbird 001, [distance]nm out of [initial approach fix], fly [heading] until you intercept the localizer for runway [runway], cleared for the [ILS/VOR/RNAV etc.] Approach [runway]".
Then the landing clearance

[2015-11-23 12:11] glangford commented on #261
Good stuff. I set up the arrivals for KSFO so that both 28L and 28R are needed for landings at peak.

There are no special rules in the simulation for SOIA or SCP, however it is possible to play with the current KSFO  arrival rate without point deductions. What you need to do is vector the aircraft for landing slightly staggered. This sometimes means sending some of the BIGSUR2 arrivals straight n

[2015-11-23 12:27] culebron commented on #261
Just keep one altitude, say 4K for one side and another one, 3K, for the other side. This way there's little risk of colliding them if you forget to give a vector on time.

[2015-11-23 12:30] culebron commented on #262
I think this is a work for two ATC, approach and tower. If you play this alone, it's just too big a workload.

On landings, I would think of planes themselves going around when there is another plane on the runway.

[2015-11-23 12:40] Maverick283 commented on #261
@glangford Yeah, thats what I did after I figured out that I would get less points for separation violation.
What I want to achieve here is that when a plane is on the approach (a.k.a. cleared to land in this simulation, check out #262 ) another plane can join the parallel approach without violating the separation minimums.

If there is a higher rate of arrivals so that you more or less have to us

[2015-11-23 20:03] #227 closed

[2015-11-24 08:36] culebron commented on #219
This is done :)

[2015-11-24 08:36] #219 closed

[2015-11-24 12:22] #254 closed

[2015-11-24 20:53] nielsvdweide commented on #262
@Maverick283 You are right about clearing the approach as well as the clearance to land, but as a one man ATC operation it is just too much information and adds a too high workload. Clearance for the approach is normally given by the Approach controller and when the airplane is on it's final track to land they will be switched to Tower. They will then give them the landing clearance!

No point in

[2015-11-25 19:00] glangford commented on #147
This is now generally complete so I will mark this issue as closed. Two additional commands could be added in future if desired (separate issues can be opened to track these):
- REPORT at a waypoint
- scheduling a future command with AT {fix}

#187
#222
#224
#228
#265

[2015-11-25 19:00] #147 closed

[2015-11-26 16:00] Maverick283 commented on #262
Okay, we got this covered now I guess xD.

I agree that it increases workload, and it is probably not worth the added reality...

Can I close this issue myself and just don't know how or does @zlsa have to do this?

[2015-11-26 16:06] glangford commented on #262
You should be able to close any issue that you opened; look at the bottom here for a button called 'close issue' (or something like that):

https://github.com/zlsa/atc/issues/262

[2015-11-26 17:57] #262 closed

[2015-11-26 18:22] culebron commented on #261
I played SFO again, and indeed, on short final they shine red if going one next to another on different runways.

[2015-11-27 08:31] culebron commented on #261
I created a pull request with a penalty for close calls (#267), and will need to take this into account.

[2015-11-27 09:11] Maverick283 commented on #225
When communicating with ATC you sometimes here a warning sound in the background. My instructor, who went to college to study for becoming an ATC (I guess he knows his stuff ;) ) told me that this is the separation and/or CFIT warning. So yeah, there is a warning when aircraft come too close. I don't know at what point it engages though... But it happens rather often, so I'm pretty sure it is goin

[2015-11-27 09:19] Maverick283 commented on #171
@joallard I don't quite know what gives you trouble, but here is a short list of things to have done in order for aircraft to lock on the ILS:
1. Have the aircraft fly within 30° towards the runway, meaning if it is runway 12, the aircraft must fly within a heading of 110 and 130. Best way to accomplish this by having it fly fixes along the extended centerline (if there are any)...
2. (generally s

[2015-11-27 09:42] Maverick283 commented on #109
I too have a scroll bar.

I guess this issue can be closed @zlsa ?

[2015-11-27 09:45] Maverick283 commented on #11
#189 #222 Handle this issue...

@zlsa can this be closed? (Trying to clean up a bit here)

[2015-11-27 09:51] Maverick283 opened #268 "V-Speed status during takeoff"
In #19 there was a suggestion to show the V-Speed status during takeoff.

I think it would be sufficient to show the V1 Speed status only, as in above or below V1.

This can be done either by coloring the speed display, or by replacing the speed indication by (e.g.) "<v1".

This would then also have to be explained in the tutorial.

V Speeds in reality are calculated before each flight, using all

[2015-11-27 09:52] Maverick283 commented on #19
Takeoffs can be aborted, yet I do like the V status. Opened a new issue (#268) for this and I think this one can be closed now, @zlsa

[2015-11-27 09:55] Maverick283 commented on #93
Can this issue be closed @zlsa?

[2015-11-27 09:56] #190 closed

[2015-11-27 13:35] culebron commented on #268
What does this give to the controller? I would rather implement a realistic v2 and runway distances, as well as pilots checking if rwy length is sufficient.

[2015-11-27 14:04] Maverick283 commented on #268
It would give a reason why a takeoff may not be aborted.

That sounds like a good idea, I thought runway length this was already taken care of. In terms of realistic V-Speeds.. I guess a single calculation would bring a rough estimate that is close enough to reality to give a somewhat realistic value:

V2 = takeoffLengthFactor \* takeoffSpeed \* v2Factor

No further variables would need to be intr

[2015-11-27 23:53] zlsa commented on #93
Yes, thanks @Maverick283.

[2015-11-27 23:53] #93 closed

[2015-11-27 23:54] #19 closed

[2015-11-27 23:54] zlsa commented on #11
Not a problem @Maverick283.

[2015-11-27 23:54] #11 closed

[2015-11-27 23:55] #109 closed

[2015-11-28 04:12] culebron commented on #268
Aborting takeoffs is reasonable, I'd be happy to see this here. Regarding a display, I think an ATC does not really need it. It matters 15 seconds every several minutes. If you need, just issue a command, and pilots will reply if they can or can't.

I did try increasing disances, and B747 would crash in the end of short runways, but if runway length becomes an issue, we need to run exact checks li

[2015-11-30 15:20] harp71 commented on #220
can somebody tell me how to update my fork with the current state of the main version?

[2015-12-01 21:31] kaitsu71 opened #275 "Zoom in key"
Looks like I can zoom out with minus key but plus key does not seem to zoom in. Is there a key for that? Or is there some other way to do zooming without a mouse wheel?

[2015-12-02 19:26] nielsvdweide commented on #275
I think Shift + = gives you a zoom in!

[2015-12-02 20:40] kaitsu71 commented on #275
Doesn't seem to work with Finnish/Swedish keyboard... The reason I ask this is because I am an a business trip and forgot mouse home :)

[2015-12-04 14:18] harp71 opened #278 "How to generate terrain GeoJSON files?"
Hi, can somebody tell me how to make a geojson for an airport? I tried to get it from the SBGL files and pull requests, but i didn´t. The files seem to be generated and not written by hand, just looking at the complexity. Where do i get the data for my area and how to i convert it into a geojson-file for my airport?

[2015-12-04 15:48] zlsa commented on #278
I think @culebron is working on this ATM.

[2015-12-10 16:41] sixeyeco commented on #110
Haven't been able to play for a while. Love the progression! I'll close this. No longer an issue.

[2015-12-10 16:41] #110 closed

[2015-12-10 16:41] #87 closed

[2015-12-10 18:54] sixeyeco commented on #56
I'm going to start recording my screen with Camtasia to get a "replay". Maybe that could be an option? In my case I keep hitting terrain and the plane (understandably) immediately disappears from radar. I'm certain that the crashes are my fault (and not a bug) but there's no indication to see where I'm going wrong. Perhaps pulsing or concentric circles? Even a smoke plume would save a lot of binar

[2015-12-10 18:57] sixeyeco opened #282 ""Speed" shortcut doesn't appear to work"
I used to use the speed shortcut all the time. Now when I try it it says "not understand, say again. Speed 200 works, s 200 does not.

[2015-12-10 19:12] avdg commented on #56
There is some explanation on the wiki, see https://github.com/zlsa/atc/wiki/Scoring.

Of course, there is also the source code, but we shouldn't expect players to read that. Though there is no direct reference to the wiki ingame as well and given its not integrated in the game, it might take players longer before they know the "rules".

[2015-12-10 21:23] Fechulo commented on #282
The shortcut for speed was recently changed for 'sp'. You can see the other modifications to the shortcuts and commands here: https://github.com/culebron/atc/commit/bf54373891d7224dd73d16d13ba85e9f4eaf0870

[2015-12-10 23:05] avdg commented on #282
How are these shortcuts determined? I can't see the change in that diff.

[2015-12-10 23:06] avdg commented on #282
I can confirm the sp command working though, so no debate on that part :-)

[2015-12-11 09:16] Maverick283 commented on #282
Will update the Wiki right away...

[2015-12-11 13:53] Fechulo commented on #282
[code]

the word before the colon  is the name of the command, in this case: "speed". The shortcuts are the words inside of synonyms, in this case: "slow" and "sp". This applies to all other commands

[2015-12-11 15:47] avdg commented on #282
ah yeah, I've overlooked that apparently even after extensive looking

[2015-12-11 16:03] harp71 commented on #278
@culebron can you explain how to create a terrain map for ATC please :)

[2015-12-11 16:20] sixeyeco commented on #282
thanks. thanks for all the great effort!

[2015-12-11 16:20] #282 closed

[2015-12-12 00:19] AlphaT3ch opened #283 "Saving & Resuming Gameplay"
I'm not too great at HTML or JS for that case, but I have an idea that I think would be quite nice for the project... Somehow, a way to save. Maybe you could sign-in with GitHub or Google or maybe just an old-fashion game save pin code, but I'd like to be able to save my game for when I go out instead of having to leave my computer on just to keep my game saved. Any possible way or anyone looking

[2015-12-12 10:46] Maverick283 commented on #283
The idea of saving has been sparking up a lot lately, I think this will be one of the next huge things that will be implemented...

Red circles don't mean you're about to get a collision. They mark planes that are flying closer then the minimum separation rules allow them to, which deducts points of your score. White circles warn you that the minimum speration  is about to be reached, yet don't de

[2015-12-14 01:39] tedrek commented on #244
Yes, the behavior of magnetic_north causing objects to 'rotate' is intentional.  It is specifically so that runway headings would be in the expected orientation, runway 36 or 27 looked wrong without the rotation.  My feeling at the time was that drawing with true north as up instead of magnetic north as up would have been generally confusing for most players and not added anything substantial to t

[2015-12-14 20:53] ghost commented on #283
Ah, thanks @Maverick283. I'm kinda new to the game, hah. This again is a little off topic, but how high can the planes fly, is there even a limit?

[2015-12-15 10:34] Maverick283 commented on #283
They _can_ fly pretty high, i'm not aware of any limit, but they will leave the radar coverage once they are above FL100. I believe they disappear from the scope at FL110, but I'm not sure, I'd have to try. Or maybe @glangford can tell you more.

[2015-12-15 12:37] glangford commented on #283
As @Maverick283 says - they will leave radar coverage once they are above FL100. Outside of the control area, the simulation will have departing aircraft climb higher than that.

You can clear a departure higher than FL100, but I don't recommend it! See #185.

(The game save idea is a good one, but I don't have time to contribute to it. Perhaps another approach would be to add bounds to a game ses

[2015-12-16 08:16] Maverick283 commented on #283
Let's discuss the idea of saving though, so someone has an base to build a program on:

What has to be saved?
- Of course: The score!
- The positions of the aircraft (Altitude, Coordinates, Heading, Speed, Destination)
- Clearances given to the aircraft (fix list, altitude assigned, speed assigned, departure clearances)
- Waiting departures
- Current wind ( + at some point maybe the weather)

How

[2015-12-16 11:30] avdg commented on #283
For saving we have options like:
- Cookies: limited storage (4k?), everything has to be stored in a string complying the format (should not contain cookie separators and stuff), very wide support though the content is send on every request.
- Server side: not an option as the server is currently serving static only (maybe 3rd party but who wants that? What will be used? etc...)
- Localstorage: sto

[2015-12-16 11:35] avdg commented on #283
Also there is the url anchor (#) storage method, easy to share progress with other players.

[2015-12-16 12:25] glangford commented on #283
Localstorage would (I think) be the main option to consider. It is already used in the current code to store the last used airport, whether speech is enabled, etc.

[2015-12-16 17:27] culebron commented on #278
@harp71 I'm stuck with writing it.

If you like to play with GIS software, I can explain briefly: use QGIS. Take DEM files (SRTM3 - 3 arcsecond is enough), get contours with 305 m steps (or 1000 ft) preserving elevations in contours. Transform contours to polygons, then simplify them. Some use Ramer-Douglas algorithm (there are such plugins), but it makes very sharp ugly lines. I just expanded pol

[2015-12-16 17:42] tedrek commented on #283
A rough calculation suggests save files would be in the 20-100kB range assuming a straight forward JSON representation.  With that size I think LocalStorage is the only real option at this point.

The other thing which needs to be saved is the state of the arrival and departure generators.

[2015-12-16 19:06] culebron commented on #244
@tedrek agree.

[2015-12-16 21:28] culebron commented on #283
I actually tried a naive saving, just `JSON.stringify(prop.aicraft.list)`, but no, objects are not serializeable.  :) Need to make a list of properties.

[2015-12-16 21:57] zlsa commented on #283
I usually use a recursive structure (i.e. `localStorage['state'] = game.save()` where `game.save()` serializes its data in a way that it can be recovered entirely with `game.restore()`; any objects to be saved will have similar functions.

[2015-12-16 21:58] #156 closed

[2015-12-17 01:41] tedrek opened #286 "Departing aircraft may show projected path to fix"
When leaving radar coverage aircraft switch to heading mode to assure they leave the game area.  If they were navigating to a fix at the time they left then the projected flight path will show a path to the fix.

I'll work on fixing that.

[2015-12-17 01:49] tedrek commented on #220
@harp71, are you still working on updating the aircraft to have realistic max/cruise speeds?  I would be happy to help on the logic as well.

To try and address all the points:
- Airplane max speed: covered above.
- Arriving aircraft descend from altitude: This will require some re-work of the arrivals code and is best addressed as a separate ticket.  I would also like to see it happen so may work

[2015-12-17 10:27] harp71 commented on #220
@tedrek thank you so much. yes i do, but reduced due to busy pre-christmas business times. What i did was mostly research. Unfortunatly i didn't find much reliable consistent data on airplane performances. But i will carry on and its good to know that somebody can do the logistics, because these have to be changed for sure.
Regarding your comments i can just say:
- Arriving aircraft descend from a

[2015-12-17 10:29] harp71 commented on #278
@culebron thanks for the short version, i´ll try to figure it out with the new infos.

[2015-12-17 18:14] tedrek commented on #261
The situation at KSFO in reality is significantly more complex than side by side, which is why the code doesn't handle it well.  The existing system allows aircraft to get horizontally within 3000 feet of each during ILS landing, this simulates simultaneous approaches at airports like KJFK and KLAX where approaches can be flown independently and the runways are relatively far apart.

At KSFO it's

[2015-12-17 19:13] tedrek commented on #220
Regarding speeds, I pushed a change last night which assumes all speeds are Indicated Air Speed.  If you go to the config icon simplified speeds can be turned off in which case ground speeds are different from IAS/Assigned depending on altitude.

We may be able to make some reasonable assumptions about scope and get a reasonable speed behavior.  The first assumption is that aircraft won't fly fast

[2015-12-19 03:23] Fechulo opened #288 "Separation Marker Bug"
For the last few days I've been trying new things and while testing them, I noticed this. When the aircraft is established on the ILS, the separation marker is turned around. Does anyone know what could be wrong and where the code is?
Thanks!
![bug](https://cloud.githubusercontent.com/assets/13125311/11910997/c9edb81c-a5ff-11e5-954f-131b8b9b938b.PNG)

[2015-12-19 12:29] avdg commented on #288
It involves this code https://github.com/zlsa/atc/blob/e4e21a16776ae84aabd8245a28735280639d5f94/assets/scripts/canvas.js#L310

[2015-12-19 13:45] Fechulo commented on #288
Thanks! I was missing the + Math.PI, that fixed it.
    var angle = rwy.getAngle(aircraft.requested.runway) + Math.PI;

[2015-12-19 13:45] #288 closed

[2015-12-20 00:50] tedrek commented on #193
@MaicomMR, when (if?) #292 is merged you should be able to update JFK without the drawbacks of copying airlines in the previous manner.  I would love to see JFK with a more realistic aircraft mix as you have proposed.

[2015-12-20 01:22] #286 closed

[2015-12-20 03:22] tedrek opened #293 "Location for documentation"
Hi Folks,

The wiki and the code continue to be out of sync with each other.  One of the challenges I've identified is the documentation isn't part of the pull request and therefore I'm not in a position to keep the wiki and deployed code in tight sync with each other.  This leads to either writing the wiki update and it being ahead of the deployed code or (much more commonly) waiting until after

[2015-12-20 11:56] glangford commented on #293
I think this is a great idea. I haven't used jekyll directly before, but since it is used in Github Pages we know it works.  :)

[2015-12-20 17:10] zlsa commented on #293
Sounds great, but I've never used Jekyll so I'm not a good judge of that. @tedrek, do you want direct push access?

[2015-12-20 18:05] tedrek commented on #293
Alright :smile:, I'll look into it further and create a pull request.

@zlsa, I don't need push access for this (I or anybody else can test on their own account) which is why I'm proposing this mechanism.  That being said I wouldn't mind push access if you wanted to give it to me in general.  I would use it for pushing bug fixes or merging other peoples work only, not for merging my features as I

[2015-12-20 19:28] zlsa commented on #293
@tedrek: done.

If @glangford or any other major contributor wants push access too, just ping me.

[2015-12-21 13:43] Maverick283 commented on #293
I'm definitely not a major contributor to the source code, actually never have pushed anything to this repository.

I'd be happy to be able to maintain the issues list as well though, as there are many that can be merged, closed or brought back to attention.

Back to the topic of this issue though:
The wiki as of now looks more like a user wiki, not a programmers wiki. I think it is okay to keep i

[2015-12-21 17:22] culebron commented on #293
I support the idea. But first we need a doc on how to make this doc on your own. :)

[2015-12-21 18:53] #293 closed

[2015-12-21 19:02] tedrek commented on #293
@culebron see [the documentation](http://zlsa.github.io/atc/documentation/README.html).  If it's not clear open an issue (or better yet, make a pull request :wink:).  It should be pretty straightforward but I made it quickly so I'm sure it can be improved.

@Maverick283, I agree the wiki makes more sense as a users's reference.  It should link to the documentation where appropriate.  For example t

[2015-12-21 19:28] tedrek opened #296 "Deficiencies in aircraft tracking with wind"
This is a continuation from comments on #289 and briefly summarizes the content.

The specific issues are pilots when navigating to fixes point the aircraft directly at the fix rather then compensating for any crosswind and when landing aircraft don't specifically compensate for crosswind to remain on centerline.

Proposed solutions for fixes are:
a) Ignore wind motion for aircraft in fix mode
b)

[2015-12-21 19:36] zlsa commented on #296
I believe there's already an ILS capable flag in each aircraft, but it's possibly inaccurate since it's not used yet. (It would have been used in the future in case of poor visibility, i.e. fog, rain, etc.)

[2015-12-21 19:53] tedrek commented on #296
As a note, aircraft currently differentiate between heading and fix modes and correctly implement flying a given heading.

I really don't like making aircraft ignore the effect of wind when in fix or landing modes.  It would mean two aircraft flying identical tracks into a wind with identical assigned speeds would be flying different ground speeds (potentially large differences).

Implementing equ

[2015-12-21 20:14] erikquinn commented on #296
Agreed on the topic of the suffixes. Actually implementing legit crabbing is not really necessary though, now that I think about it. After all, the orientation of the leader lines of a **radar target** have no respect to where the aircraft is facing, but just where it's projected to be at the next update. Thus, even if an aircraft WAS crabbing, and hard, we would never see it in reality. So really

[2015-12-22 00:08] tedrek commented on #296
@erikquinn, it is too simple.  Trying to ignore the wind when in fix or rwy mode leaves the bizarre behavior where two aircraft can be flying the same track and assigned speed but have different ground speeds.

But rather than implementing true crabbing, the aircraft could just subtract the required vector when in fix/rwy mode.